@model fmis.Models.Budget_allotment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color: #438eb9;">Create Budget Allotment</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h6>Yearly Reference :</h6>
                <select class="form-control" asp-for="YearlyReferenceId" asp-items="ViewBag.YearlyReferenceId"></select>
                @*@Html.DropDownList("YearlyReferenceId", null, htmlAttributes: new { @class = "form-control" })*@
            </div>
            <div class="form-group">
                <h6>Allotment Series :</h6>
                <input asp-for="Allotment_series" class="form-control" />
                <span asp-validation-for="Allotment_series" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h6>Allotment Title :</h6>
                <input asp-for="Allotment_title" class="form-control" />
                <span asp-validation-for="Allotment_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h6>Allotment Code :</h6>
                <input asp-for="Allotment_code" class="form-control" />
                <span asp-validation-for="Allotment_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success btn-sm" /> |
                <a class="btn btn-default btn-sm" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
