@model fmis.Models.Budget_allotment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="grey lighter smaller">
    Create Budget Allotment
</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Yearly Reference</label>
                <select class="form-control" asp-for="YearlyReferenceId" asp-items="ViewBag.YearlyReferenceId"></select>
            </div>
            <div class="form-group">
                <label>Allotment Series</label>
                <input asp-for="Allotment_series" class="form-control" />
                <span asp-validation-for="Allotment_series" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Allotment Title</label>
                <input asp-for="Allotment_title" class="form-control" />
                <span asp-validation-for="Allotment_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Allotment Code</label>
                <input asp-for="Allotment_code" class="form-control" />
                <span asp-validation-for="Allotment_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />|
                <a class="btn btn-default" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
