@model fmis.Models.Obligated_amount



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<center>
    <h2>Create New</h2>
</center>
<hr />
<div class="container">
    <center>
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Obligation_id" class="control-label">Obligation_id</label>
                    <input asp-for="Obligation_id" class="form-control" required />
                    <span asp-validation-for="Obligation_id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Expense_Title" class="control-label">Expense_Title</label>
                    <input asp-for="Expense_Title" class="form-control" required />
                    <span asp-validation-for="Expense_Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Code" class="control-label">Code</label>
                    <input asp-for="Code" class="form-control" required />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label">Amount</label>
                    <input asp-for="Amount" class="form-control" required />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success btn-lg" /> | <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
