@model fmis.Models.Obligated_amount



<center>
    <h2>Edit</h2>
    <h4>Obligated_amount</h4>
</center>
<hr />
<div class="container">
    <center>
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Obligation_id" class="control-label">Obligation_id</label>
                    <input asp-for="Obligation_id" class="form-control" />
                    <span asp-validation-for="Obligation_id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Expense_Title" class="control-label">Expense_Title</label>
                    <input asp-for="Expense_Title" class="form-control" />
                    <span asp-validation-for="Expense_Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Code" class="control-label">Code</label>
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label">Amount</label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success btn-lg" /> | <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

