@model fmis.Models.Obligated_amount

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Obligated_amount</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Obligation_id" class="control-label"></label>
                <input asp-for="Obligation_id" class="form-control" />
                <span asp-validation-for="Obligation_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expenses_title" class="control-label"></label>
                <input asp-for="Expenses_title" class="form-control" />
                <span asp-validation-for="Expenses_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created_at" class="control-label"></label>
                <input asp-for="Created_at" class="form-control" />
                <span asp-validation-for="Created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated_at" class="control-label"></label>
                <input asp-for="Updated_at" class="form-control" />
                <span asp-validation-for="Updated_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
