@model IEnumerable<fmis.Models.Obligation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />


<input type="hidden" class="obligation" value="@ViewBag.temp">

<div id="example"></div>



<script>

    document.onkeydown = function (e) {
        if (e.ctrlKey && e.keyCode === 83) {
            $('#loading_modal').modal('show');
            console.log(hot.getData());
            return false;
        }
    };

    var obligation = $.parseJSON($(".obligation").val());

    const data = [];
    var counter = 0;
    $.each(obligation, function () {
        data[counter] = [this.Date, this.Dv, this.Pr_no, this.Po_no, this.Payee, this.Address, this.Particulars, this.Ors_no, this.Fund_source, this.Gross, this.Created_by, this.Date_recieved, this.Time_recieved, this.Date_released, this.Time_released]
        counter++;
    })


    const container = document.getElementById('example');
    const hot = new Handsontable(container, {
        data: data,
        width: '100%',
        colWidths: 100,
        rowHeaders: true,
        colHeaders: true,
        contextMenu: ['row_above', 'row_below', 'remove_row'],
        height: 'auto',
        licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
    });

    hot.updateSettings({
        colHeaders: ['Date', 'Dv', 'Pr_no', 'Po_no', 'Payee', 'Address', 'Particulars', 'Ors_no', 'Fund_source', 'Gross', 'Created_by', 'Date_recieved', 'Time_recieved', 'Date_released', 'Time_released'],
        cell: [
            {
                row: 0,
                col: 0,
                className: 'custom-cell',
            },
        ],
        columns: [
            {
                type: 'date',
                dateFormat: 'MM/DD/YYYY',
            },
            {
                // 2nd cell is simple text, no special options here
            },
            {

            },
            {

            },
            {

            },
            {

            },
            {

            },

            {
            },

            {
                type: 'numeric',
                numericFormat: {
                    pattern: '$ 0,0.00'
                }
            },

            {
            },

            {
            },

            {
                type: 'date',
                dateFormat: 'DD/MM/YYYY',
            },

            {
                type: 'time',
                timeFormat: 'h:mm:ss a',
                correctFormat: true
            },

            {
                type: 'date',
                dateFormat: 'DD/MM/YYYY',
            },

            {
                type: 'time',
                timeFormat: 'h:mm:ss a',
                correctFormat: true
            },
        ]
    });

    var tableData = JSON.stringify(hot.getData());
    console.log(hot.getData());


</script>
<style>

    td.custom-cell {
        color: #fff;
        background-color: #37bc6c;
    }

    .handsontable th:nth-child(0) {
        background-color: aquamarine;
        font-weight: bold;
    }


    .custom-table tdata th:nth-child(even),
    .custom-table tbody tr:nth-child(odd) th {
        background-color: #d7f1e1;
    }
</style>
