@model IEnumerable<fmis.Models.Obligation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        .topics tr {
            line-height: 50px;
        }
    </style>
</head>
<body>

    <center><h4>Table with Collapsed Borders</h4></center>

    <div style="margin-right: 180px; margin-left: 180px">
        <table style="width:100%" class="topics">
            <tr height="150">
                <td><p>
    <center><b>Republic of the Philippines<b></center><center>
        <b>Department of Health<b>
    </center>
</p><center><b>Central Visayas for Health Development<b></center>
</p></td>
                    <td>$100</td>
            </tr>
            <tr>
                <td>February</td>
                <td>
                    $80
                </td>
            </tr>
        </table>
    </div>
</body>
</html>




<!--@{
    Layout = null;
}


<style>
    hr {
        display: block;
        height: 50px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }
</style>

<html>
<head>
    <meta charset="utf-8">
    <title>Demo</title>
    <link rel="stylesheet" href="style.css">
    <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
    <script src="script.js"></script>
    <link href="~/css/demo.css" rel="stylesheet" />

</head>
<body>
    <header>
        <br />
        <br />
        <br />-->
@*        <address contenteditable>
        <p>Jonathan Neal</p>
        <p>101 E. Chapman Ave<br>Orange, CA 92866</p>
        <p>(800) 555-1234</p>
    </address>*@


<!--</header>
<div style="width:1000px;height:1000px;border:1px solid #000;">
    <nav>
        Republic of the Philippines<br>
        <b>Department of Health</b><br>
        Central Visayas for Health Development<br>
        Central Visayas, Osmeña Blvd. Cebu City<br>
        <span><img width="70" height="70" src="/portfolio_bootstrap/img/about/doh.png" /></span>
    </nav>
    <nav>   </nav>
    <nav>   </nav>
    <nav>   </nav>
</div>-->
@* <aside>
        <h1><span contenteditable>Additional Notes</span></h1>
        <div contenteditable>
            <p>A finance charge of 1.5% will be made on unpaid balances after 30 days.</p>
        </div>
    </aside>*@
<!--</body>
</html>-->
