@model fmis.Models.Fund

<center><h3 class="grey lighter smaller">Edit Fund Source </h3></center>
<hr />
<div class="container">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FundId" />
            <div class="form-group">
                <h5>Fund Source Description: </h5>
                <input asp-for="Fund_description" class="form-control" />
                <span asp-validation-for="Fund_description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Fund Code (Current): </h5>
                <input asp-for="Fund_code_current" class="form-control" />
                <span asp-validation-for="Fund_code_current" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Fund Code (Conap): </h5>
                <input asp-for="Fund_code_conap" class="form-control" />
                <span asp-validation-for="Fund_code_conap" class="text-danger"></span>
            </div>
            <div class="form-group pull-right">
                <input type="submit" value="Save" class="btn btn-success btn-sm" /> <a class="btn btn-default btn-sm" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
