@model IEnumerable<fmis.Models.Fund>
@using System.Text.Json;

@{
    ViewData["Title"] = "FundSource";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <fund-content funds="@JsonSerializer.Serialize(Model)"></fund-content>
</div>

<script src="~/vue/dist/app.js"></script>

