@model fmis.Models.Accounting.Category;


<center><h3 class="grey lighter smaller">Update Category </h3></center>
<hr />
<div class="container">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group">
                <h5>Category Description: </h5>
                <input asp-for="CategoryDescription" id="description" class="form-control" required />
                <span asp-validation-for="CategoryDescription" class="text-danger"></span>
            </div>
            <div class="form-group pull-right">
                <input type="submit" value="Update" onclick="submiBtnClick()" class="btn btn-info btn-sm" />  <a class="btn btn-default btn-sm" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function submiBtnClick() {
        var categDescription = document.getElementById("description").value;
        if (categDescription != '') {
            Lobibox.notify('info', {
                title: 'Updated',
                msg: 'Category Successfully Updated',
            });
        }
        else {
            return false;
        }
    }
</script>