@model fmis.Models.Sections

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<button type="button" style="margin-right:15px; margin-top: 10px;" class="close" data-dismiss="modal">×</button>
<center><h3 class="grey lighter smaller ">Create Section</h3></center>
<hr />
<div class="container">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h5>Section Name: </h5>
                <input asp-for="SectionName" class="form-control" />
                <span asp-validation-for="SectionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Description: </h5>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Section Head: </h5>
                <input asp-for="SectionHead" class="form-control" />
                <span asp-validation-for="SectionHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Responsibility Center: </label>
                <select class="form-control" asp-for="RespoId" asp-items="ViewBag.RespoId"></select>
            </div>
            <div class="form-group pull-right">
                <input type="submit" value="Create" class="btn btn-success btn-sm" /> | <a class="btn btn-sm btn-default" data-dismiss="modal">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
