
@model IEnumerable<fmis.Models.Accounting.Deduction>

@{
    ViewData["Title"] = "Deduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- CREATE MODAL -->
<div class="modal fade" id="CreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<!--EDIT MODAL-->
<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<!--DELETE MODAL-->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<h3 class="grey lighter smaller">
    Deduction
</h3>
<hr>
<p>
    <a asp-action="Create" class="btn btn-success btn-sm" data-toggle="modal" data-target="#CreateModal">
        <i class="ace-icon fa fa-plus "></i>Create New
    </a>
</p>
<br />
<table class="table table-striped" style="width: 900px">
    <thead>
        <tr>
            <th>
                Deduction Description
            </th>
            <th>
                Action
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DeductionDescription)
                </td>

                <td>
                    <a asp-action="Edit" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#EditModal" asp-route-id="@item.DeductionId">
                        <i class="ace-icon fa fa-edit"></i>
                    </a> 
                    <a class="btn btn-xs btn-danger" href="@Url.Action("Delete","Category",new { id = @item.DeductionId })" onclick="return confirm('Do you want to delete this Deduction?');">
                        <i class="ace-icon fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
