<table class="table table-hover table responsive">
    <thead>

        <tr>
            <th scope="col">#</th>
            <th scope="col">Head_name</th>
            <th scope="col">Position</th>
            <th scope="col"> Created_at</th>
            <th scope="col"> Updated_at</th>
        </tr>

    </thead>
</table>


