<table class="table table-hover table responsive">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Pop_title</th>
            <th scope="col">Pop_code1</th>
            <th scope="col"> Pop_code2</th>
            <th scope="col"> Created_at</th>
            <th scope="col"> Updated_at</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
            <td>A1</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>E</td>
            <td>F</td>
            <td>G</td>
            <td>H</td>
            <td>B2</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>I</td>
            <td>J</td>
            <td>K</td>
            <td>L</td>
            <td>C3</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>M</td>
            <td>N</td>
            <td>O</td>
            <td>P</td>
            <td>D4</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Q</td>
            <td>R</td>
            <td>S</td>
            <td>T</td>
            <td>E5</td>
        </tr>
    </tbody>
</table>
