<table class="table table-hover table responsive">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Prexe_code</th>
            <th scope="col">Suballotment_code</th>
            <th scope="col">Suballotment_title</th>
            <th scope="col">Orc_head</th>
            <th scope="col">Responsibilty_number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>E</td>
            <td>F</td>
            <td>G</td>
            <td>H</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>I</td>
            <td>J</td>
            <td>K</td>
            <td>L</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>M</td>
            <td>N</td>
            <td>O</td>
            <td>P</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Q</td>
            <td>R</td>
            <td>S</td>
            <td>T</td>
        </tr>
    </tbody>
</table>
<div class="modal" id="loading_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <center><img src="~/assets/images/loading.gif" style="margin-left:20%;margin-top:30%;" class="msg-photo" alt="Alex's Avatar" /></center>
    </div>
</div>

<script type="text/javascript">
    jQuery(function ($) {
        try {
            Dropzone.autoDiscover = false;

            var myDropzone = new Dropzone('#dropzone', {
                previewTemplate: $('#preview-template').html(),

                thumbnailHeight: 120,
                thumbnailWidth: 120,
                maxFilesize: 10,

                //addRemoveLinks : true,
                //dictRemoveFile: 'Remove',

                dictDefaultMessage:
                    '<span class="bigger-150 bolder"><i class="ace-icon fa fa-caret-right red"></i> Drop files</span> to upload \
                    <span class="smaller-80 grey">(or click)</span> <br /> \
                    <i class="upload-icon ace-icon fa fa-cloud-upload blue fa-3x"></i>'
                ,

                thumbnail: function (file, dataUrl) {
                    if (file.previewElement) {
                        $(file.previewElement).removeClass("dz-file-preview");
                        var images = $(file.previewElement).find("[data-dz-thumbnail]").each(function () {
                            var thumbnailElement = this;
                            thumbnailElement.alt = file.name;
                            thumbnailElement.src = dataUrl;
                        });
                        setTimeout(function () { $(file.previewElement).addClass("dz-image-preview"); }, 1);
                    }
                }

            });


            //simulating upload progress
            var minSteps = 6,
                maxSteps = 60,
                timeBetweenSteps = 100,
                bytesPerStep = 100000;

            myDropzone.uploadFiles = function (files) {
                var self = this;
                $('#submit_excel').click(function (e) {
                    $('#loading_modal').modal('show');
                    var fdata = new FormData();
                    var fileUpload = files;
                    fdata.append(fileUpload[0].name, fileUpload[0]);
                    console.log(fdata);
                    setTimeout(function () {
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("ImportSection", "UploadSection")',
                            data: fdata,
                            contentType: false,
                            processData: false,
                            success: function (output) {
                                $('#loading_modal').modal('hide');
                                Lobibox.notify("success", {
                                    msg: "Successfully Uploaded...",
                                    sound: false
                                });
                                console.log(output);
                            }
                        });
                    }, 1000);

                });

                for (var i = 0; i < files.length; i++) {
                    var file = files[i];
                    totalSteps = Math.round(Math.min(maxSteps, Math.max(minSteps, file.size / bytesPerStep)));

                    for (var step = 0; step < totalSteps; step++) {
                        var duration = timeBetweenSteps * (step + 1);
                        setTimeout(function (file, totalSteps, step) {
                            return function () {
                                file.upload = {
                                    progress: 100 * (step + 1) / totalSteps,
                                    total: file.size,
                                    bytesSent: (step + 1) * file.size / totalSteps
                                };

                                self.emit('uploadprogress', file, file.upload.progress, file.upload.bytesSent);
                                if (file.upload.progress == 100) {
                                    file.status = Dropzone.SUCCESS;
                                    self.emit("success", file, 'success', null);
                                    self.emit("complete", file);
                                    self.processQueue();
                                }
                            };
                        }(file, totalSteps, step), duration);
                    }
                }
            }


            //remove dropzone instance when leaving this page in ajax mode
            $(document).one('ajaxloadstart.page', function (e) {
                try {
                    myDropzone.destroy();
                } catch (e) { }
            });

        } catch (e) {
            alert('Dropzone.js does not support older browsers!');
        }

    });
</script>
