<table class="table table-hover table responsive">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">DV</th>
            <th scope="col">Pr_number</th>
            <th scope="col">Po_number</th>
            <th scope="col">Payer</th>
            <th scope="col">Address</th>
            <th scope="col">Particulars</th>
            <th scope="col">Ors_number</th>
            <th scope="col">Fundsource</th>
            <th scope="col">Gross</th>
            <th scope="col">Created_by</th>
            <th scope="col">Date_recieved</th>
            <th scope="col">Time_recieved</th>
            <th scope="col">Date_released</th>
            <th scope="col">Time_released</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>E</td>
            <td>F</td>
            <td>G</td>
            <td>H</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>I</td>
            <td>J</td>
            <td>K</td>
            <td>L</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>M</td>
            <td>N</td>
            <td>O</td>
            <td>P</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Q</td>
            <td>R</td>
            <td>S</td>
            <td>T</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>U</td>
            <td>V</td>
            <td>W</td>
            <td>X</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Y</td>
            <td>Z</td>
            <td>A1</td>
            <td>B1</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>C1</td>
            <td>D1</td>
            <td>E1</td>
            <td>F1</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>G1</td>
            <td>H1</td>
            <td>I1</td>
            <td>J1</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>K1</td>
            <td>L1</td>
            <td>M1</td>
            <td>N1</td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>O1</td>
            <td>P1</td>
            <td>Q1</td>
            <td>R1</td>
        </tr>
    </tbody>
</table>