@{
    ViewData["Title"] = "SAOB";
}

﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="space space-10"></div>
<div class="col-md-3" style="margin-left: 25px">
    <div class="widget-box">
        <div class="widget-header">
    
            <h4 class="widget-title"> <span class="glyphicon glyphicon-list-alt"></span> Saob Reports</h4>

            <span class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="ace-icon fa fa-chevron-up"></i>
                </a>
            </span>
        </div>
        <div class="widget-body">
            <div class="widget-main">
                <form action="@Url.Action("Export","Reports")" method="post">
                    @Html.AntiForgeryToken()
                    <label>Format: </label>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <select name="format" class="form-control"  tabindex="-1" aria-disabled="true" disabled>
                                <option value="excel">EXCEL</option>
                            </select>
                        </div>
                    </div>
                    <div class="space space-8"></div>
                    <label>Date From: </label>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div>
                                <input class="form-control" type="date" name="date_from" id="dateFrom" data-date-format="dd-mm-yyyy" required>
                            </div>
                        </div>
                    </div>
                    <div class="space space-8"></div>
                    <label>Date To: </label>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div>
                                <input class="form-control" type="date" name="date_to" id="dateTo" data-date-format="dd-mm-yyyy" required>
                            </div>
                        </div>
                    </div>
                    <div class="space space-8"></div>
                    <div class="row">
                        <div class="" >
                            <div class="col-xs-12 col-sm-12" >
                                  <button type="submit" @*onclick="submiBtnClick()" *@ class="btn btn-success btn-sm pull-right"> <span class="glyphicon glyphicon-download-alt"></span> Download</button>
                            </div>
                        </div>
                    </div>
                </form>   
            </div>
        </div>
    </div>
</div>


@*<div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Add previous conap to the current allotment?</label>
                    @Html.DropDownList("Conap", null, htmlAttributes: new { @class = "js-example-basic-multiple form-control", @multiple = "multiple" })
                </div>
            </div>
        </div>
    </div>*@

<script>


    function submiBtnClick() {
        var dateFrom = document.getElementById("dateFrom").value;
        var dateTo = document.getElementById("dateTo").value;
        if (dateFrom != '' && dateTo != '') {
            Lobibox.progress({
                title: 'Please wait',
                label: 'Generating Saob Report...',
                onShow: function ($this) {
                    var i = 0;
                    var inter = setInterval(function () {
                        window.console.log(i);
                        if (i > 100) {
                            inter = clearInterval(inter);
                        }
                        i = i + 0.1;
                        $this.setProgress(i);
                    }, 10);
                }
            });
        }
        else {
            return false;
        }


    }



</script>