@{
    ViewData["Title"] = "SAOB";
}

﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h3>SAOB Reports</h3>
            <form action="@Url.Action("Export","Reports")" method="post">
                @Html.AntiForgeryToken()
                <table>
                    <tr>
                        <td>Format</td>
                        <td>
                            <select name="format" class="form-control" readonly="readonly" tabindex="-1" aria-disabled="true">
                                @*<option value="pdf">PDF</option>*@
                                <option value="excel">EXCEL</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Date From</td>
                        <td><input type="date" name="date_from" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Date To</td>
                        <td><input type="date" name="date_to" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button type="submit" class="btn btn-success btn-lg"> <span class="glyphicon glyphicon-print"></span> Print</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

@*<div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>*@



@*<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Add previous conap to the current allotment?</label>
                @Html.DropDownList("Conap", null, htmlAttributes: new { @class = "js-example-basic-multiple form-control", @multiple = "multiple" })
            </div>
        </div>
    </div>
</div>*@

