<table class="table table-hover table responsive">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Head_name</th>
            <th scope="col">Position</th>
            <th scope="col"> Created_at</th>
            <th scope="col"> Updated_at</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
            <td>A1</td>
            <td>B2</td>
        </tr>
    </tbody>
</table>
<div class="modal" id="loading_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <center><img src="~/assets/images/loading.gif" style="margin-left:20%;margin-top:30%;" class="msg-photo" alt="Alex's Avatar" /></center>
    </div>
</div>

<script type="text/javascript">
    
</script>