<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th scope="col">YearlyReference</th>
            <th scope="col"> Created_at</th>
            <th scope="col"> Updated_at</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Amals</td>
            <td>Januar</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Inap</td>
            <td>Suson</td>

        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
        </tr>
    </tbody>
</table>

<div class="modal" id="loading_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <center><img src="~/assets/images/loading.gif" style="margin-left:20%;margin-top:30%;" class="msg-photo" alt="Alex's Avatar" /></center>
    </div>
</div>

<script type="text/javascript">
   
</script>
