@model fmis.Models.Sub_allotment



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<center>
    <h2>Create New</h2>
</center>
<hr />
<div class="container">
    <center>
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Prexe_code" class="control-label">Prexe_code</label>
                    <input asp-for="Prexe_code" class="form-control" required />
                    <span asp-validation-for="Prexe_code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Suballotment_code" class="control-label">Suballotment_code</label>
                    <input asp-for="Suballotment_code" class="form-control" required />
                    <span asp-validation-for="Suballotment_code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Suballotment_title" class="control-label">Suballotment_title</label>
                    <input asp-for="Suballotment_title" class="form-control" required />
                    <span asp-validation-for="Suballotment_title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ors_head" class="control-label">Ors_head</label>
                    <input asp-for="Ors_head" class="form-control" required />
                    <span asp-validation-for="Ors_head" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Responsibility_number" class="control-label">Responsibility_number</label>
                    <input asp-for="Responsibility_number" class="form-control" required />
                    <span asp-validation-for="Responsibility_number" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <input asp-for="Description" class="form-control" required />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success btn-lg" /> | <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

