@model fmis.Models.Sub_allotment

@{

    Layout = null;
}

<center><h4>Are you sure you want to delete this Sub Allotment?</h4></center>
<div>
    <hr />
    <center>
        <form asp-action="Delete" style="margin: 15px;">
            <input type="hidden" asp-for="SubId" />
            <input type="submit" value="Delete" class="btn btn-danger" asp-route-budget_id ="@ViewBag.budget_id" />
            <a data-dismiss="modal" class="btn btn-info btn-sm">Back to List</a>
        </form>
    </center>
</div>
