@model fmis.Models.Sub_allotment



<center>
    <h2>Edit</h2>
    <h4>Sub_allotment</h4>
</center>
<hr />
<div class="container">
    <center>
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Prexe_code" class="control-label">Prexe_code</label>
                    <input asp-for="Prexe_code" class="form-control" />
                    <span asp-validation-for="Prexe_code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Suballotment_code" class="control-label">Suballotment_code</label>
                    <input asp-for="Suballotment_code" class="form-control" />
                    <span asp-validation-for="Suballotment_code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Suballotment_title" class="control-label">Suballotment_title</label>
                    <input asp-for="Suballotment_title" class="form-control" />
                    <span asp-validation-for="Suballotment_title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ors_head" class="control-label">Ors_head</label>
                    <input asp-for="Ors_head" class="form-control" />
                    <span asp-validation-for="Ors_head" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Responsibility_number" class="control-label">Responsbilty_number</label>
                    <input asp-for="Responsibility_number" class="form-control" />
                    <span asp-validation-for="Responsibility_number" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success btn-lg" /> | <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

