@model fmis.Models.Sub_allotment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<h3 style="color: #438eb9;">Edit Sub Allotment</h3>
<hr />
<form asp-action="Edit" method="post">
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success btn-sm" /> | <a class=" btn btn-primary btn-sm" asp-action="Index">Back to List</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubId" />
            <input type="hidden" asp-for="Budget_allotmentBudgetAllotmentId" />


            <div class="form-group">
                <label asp-for="Prexc" class="control-label"></label>
                @Html.DropDownList("Id", null, htmlAttributes: new { @class = "prexc form-control" })
            </div>

            <div class="form-group">
                <label asp-for="Suballotment_title" class="control-label"></label>
                <input asp-for="Suballotment_title" class="form-control" />
                <span asp-validation-for="Suballotment_title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Suballotment_code" class="control-label"></label>
                <input asp-for="Suballotment_code" class="form-control" />
                <span asp-validation-for="Suballotment_code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Responsibility_number" class="control-label"></label>
                <input asp-for="Responsibility_number" class="form-control" />
                <span asp-validation-for="Responsibility_number" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $('.prexc').select2();
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
