 @model IEnumerable<fmis.Models.Yearly_reference>

@{
    ViewData["Title"] = "Index";
}


<h3 class="grey lighter smaller">
    Budget Year Reference
</h3>
<hr>
<p>
    <a class="btn btn-sm btn-success" asp-action="Create">
        <i class="ace-icon fa fa-plus"></i>Create New
    </a>
</p>
<br />
<table class="table table-striped" style="width: 900px">
    <thead>
        <tr>

            <th>
                Year Reference
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.YearlyReference) Budget
                </td>
                <td>
                    <a class="btn btn-xs btn-danger" href="@Url.Action("Delete","Yearly_reference",new { id = @item.YearlyReferenceId })" onclick="return confirm('Do you want to delete this Yearly Reference?');">
                        <i class="ace-icon fa fa-trash"></i>Delete
                    </a>
                </td>
            </tr>
         }
    </tbody>
</table>
