@model IEnumerable<fmis.Models.John.AllotmentClass>
@using System.Text.Json;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="app">
    <allotment-content allotments="@JsonSerializer.Serialize(Model)"></allotment-content>
</div>

<script src="~/vue/dist/app.js"></script>

