
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="((System.Data.DataTable)ViewBag.datasource)" allowPaging="true">
            <e-grid-columns>
                <e-grid-column field="Id" headerText="Id" textAlign="Right" width="140"></e-grid-column>
                <e-grid-column field="Division" headerText="Division" textAlign="Right" width="90"></e-grid-column>
                <e-grid-column field="Description" headerText="Description" width="70"></e-grid-column>
                <e-grid-column field="Head" headerText="Head" textAlign="Right" width="90"></e-grid-column>
                <e-grid-column field="Code" headerText="Code" width="110"></e-grid-column>
                <e-grid-column field="Remember_Token" headerText="Remember_Token" textAlign="Right" width="80"></e-grid-column>
                <e-grid-column field="Created_At" headerText="Created_At" format="yMd" textAlign="Right" width="80"></e-grid-column>
                <e-grid-column field="Updated_At" headerText="Updated_At" format="yMd" textAlign="Right" width="80"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
