<div class="row">
    <div class="col-xs-12 widget-container-col ui-sortable" id="widget-container-col-1">
        <div class="widget-box ui-sortable-handle" id="widget-box-1">
            <div class="widget-header">
                <h1>
                    Budget Allotment #1
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Fund Source #1
                    </small>
                </h1>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div class="col-xs-12 infobox-container">
                        <div class="infobox infobox-green">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-money"></i>
                            </div>
                            <div class="infobox-data">
                                <span class="infobox-data-number" id="total_beginning_balance" style="font-size:11pt; color:grey;">₱70,000.00</span>
                                <div class="infobox-content">
                                    <span class="label label-success arrowed-in arrowed-in-right"> Beginning Balance </span>
                                </div>
                            </div>
                        </div>
                        <div class="infobox infobox-orange2">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-bar-chart-o"></i>
                            </div>
                            <div class="infobox-data">
                                <span class="infobox-data-number" id="total_utilization_amount" style="font-size:11pt; color:grey;">₱20,000.00</span>
                                <div class="infobox-content">
                                    <span class="label label-warning arrowed-in arrowed-in-right"> Obligated Amount </span>
                                </div>
                            </div>
                        </div>
                        <div class="infobox infobox-green">
                            <div class="infobox-icon">
                                <i class="ace-icon fa fa-money"></i>
                            </div>
                            <div class="infobox-data">
                                <span class="infobox-data-number" id="total_remaining_balance" style="font-size:11pt; color: grey;">₱50,000.00</span>
                                <div class="infobox-content">
                                    <span class="label label-danger arrowed-in arrowed-in-right"> Remaining Balance </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top:80px;">
                        <center>
                            <span class="blue">Rusel T.Tayong:</span>
                            from <span class="green">Information and Communication Technology Unit(MSD)</span> <span class="red">obligated</span> the amount of <b>20,000</b> from <span class="orange">Fund Source</span>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
