@model fmis.Models.Appropriation

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<style>
    .b {
        font-size: 13pt;
        margin-right: 10%;
    }

    .layout {
        margin-left: 5%;
    }

   
</style>


<center><h4>Are you sure you want to delete this?</h4></center>
<hr />
<div class="layout">


    <h5 style="font-weight:bold;">
        @Html.DisplayNameFor(model => model.Description):
    </h5>
    <h6>
        @Html.DisplayFor(model => model.Description)
    </h6>
    <br />
    <h5 style="font-weight:bold;">
        @Html.DisplayNameFor(model => model.Code):
    </h5>
    <h6>
        @Html.DisplayFor(model => model.Code)
    </h6>
    <hr />
    <form asp-action="Delete" style="margin-left:70%;">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-sm btn-default"> Cancel</a>
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
    </form>
    <br />

</div>



