@{
    ViewData["Title"] = "Generate PDF";
}

<h2>Generate App</h2>

<form asp-controller="Employee" asp-action="GenerateApp" method="post" target="_blank">
    <button type="submit">Generate PDF</button>
</form>