@model fmis.Models.RespoCenter

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

<button type="button" style="margin-right:15px; margin-top: 10px;" class="close" data-dismiss="modal">×</button>
<center><h3 class="grey lighter smaller ">Create Responsibility Center</h3></center>
<hr />
<div class="container">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h5>Responsibility: </h5>
                <input asp-for="Respo" id="respo" class="form-control" />
                <span asp-validation-for="Respo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Responsibility Code: </h5>
                <input asp-for="RespoCode" id="respocode" class="form-control" />
                <span asp-validation-for="RespoCode" class="text-danger"></span>
            </div>
            <div class="form-group pull-right">
                <input type="submit" value="Create" onclick="submitBtnClick()" class="btn btn-success btn-sm" /> | <a class="btn btn-sm btn-default" data-dismiss="modal">Back to List</a>
            </div>
        </form>
    </div>
</div>


<script>
    function submitBtnClick() {

        var respo = document.getElementById("respo").value;
        var respocode = document.getElementById("respocode").value;
       
        if (respo != '' && respocode != '' ) {
            Lobibox.notify('success', {
                msg: 'Responsibility Center Successfully Added!',
            });
        }
        else {
            return false;
        }
    }
 </script>

@*@* @if(ViewBag.SuccessMessage != null)
  {
<div>
    @ViewBag.SuccessMessage
</div>
  }

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} @**@

