@model fmis.Models.RespoCenter


<center><h3 class="grey lighter smaller">Edit Responsibility Center </h3></center>
<hr />
<div class="container">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RespoId" />
            <div class="form-group">
                <h5>Responsibility: </h5>
                <input asp-for="Respo" class="form-control" />
                <span asp-validation-for="Respo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Responsibility Code: </h5>
                <input asp-for="RespoCode" class="form-control" />
                <span asp-validation-for="RespoCode" class="text-danger"></span>
            </div>
            <div class="form-group pull-right">
                <input type="submit" value="Save" class="btn btn-success btn-sm" />  <a class="btn btn-default btn-sm" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
