@model List<fmis.Models.Procurement.Supplier>


<div class="col-xs-12">
    <div id="addSupplier" class="modal fade" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="smaller lighter blue no-margin">Create Supplier</h3>
                </div>
                <form>
                    <div class="modal-body">
                        <div>
                            <h4 class="grey lighter smaller">
                                Please complete the form.
                            </h4>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> Supplier Name </label>
                                        <input type="text" name="SupplierName" class="form-control" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> Supplier Address </label>
                                        <input type="text" name="SupplierAddress" class="form-control" required>
                                    </div>
                               
                                </div>
                           
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-xs btn-primary">Submit <span class="fa fa-check-square-o"></span> </button>
                        <a data-dismiss="modal" class="btn btn-xs btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('form').submit(function (e){
            e.preventDefault();

            $.ajax({
                url: '@Url.Action("SaveSupplier","Procurement")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (result){
                    if (result.success) {
                        Lobibox.notify('success', {
                            title: 'Success',
                            msg: 'Data saved successfully..',
                            sound: false
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    }
                    else
                    {
                        Lobibox.notify('error', {
                            title: 'Error',
                            msg: 'Error submitting the form..',
                            sound: false
                        });
                        setTimeout(function () {
                            $("#addSupplier").modal("hide");
                            location.reload();
                        }, 1000);
                    }
                }
            });
        });
    });
</script>