@model List<fmis.Models.Procurement.Po>

<style>
    .ui-datepicker {
        width: 250px !important;
    }
</style>

<div class="col-xs-12">
    <div id="my-modal" class="modal fade" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 class="smaller lighter blue no-margin">Create Purchase Order</h3>
                </div>
                <form asp-controller="Procurement" asp-action="SavePo" method="post">
                    <div class="modal-body">
                        <div>
                            <h4 class="grey lighter smaller">
                                Please complete the form.
                            </h4>
                            <br />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> ABSTRACT NO. </label>
                                        <select class="form-control" name="AbstractNo" asp-items="ViewBag.Abstract">
                                            <option value="">Select Abstract No.</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> PO NO. </label>
                                        <input type="text" class="form-control" name="PoNo" readonly value="@ViewBag.FormattedPoNo">
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold">  PO DATE </label>
                                        <input type="text" class="form-control" id="rpqdate" name="PoDate">
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold">SUPPLIER </label>
                                        <input type="text" class="form-control" name="Supplier" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold">  AMOUNT </label>
                                        <input type="text" class="form-control" name="Amount" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold">  RMOP </label>
                                        <select class="form-control" name="Rmop">
                                            <option value="AGENCY TO AGENCY">AGENCY TO AGENCY</option>
                                            <option value="DIRECT CONTRACTING (DRUGS AND MEDS)">DIRECT CONTRACTING (DRUGS AND MEDS)</option>
                                            <option value="EMERGENCY CASES (DRUGS AND MEDS)">EMERGENCY CASES (DRUGS AND MEDS)</option>
                                            <option value="LEASE OF VENUE (GOODS)">LEASE OF VENUE (GOODS)</option>
                                            <option value="PUBLIC BIDDING (GOODS AND EQUIPMENT)">PUBLIC BIDDING (GOODS AND EQUIPMENT)</option>
                                            <option value="PS-DBM">PS-DBM</option>
                                            <option value="SCIENTIFIC SCHOLARLY">SCIENTIFIC SCHOLARLY</option>
                                            <option value="SMALL VALUE PROCUREMENT (GOODS AND EQUIPMENT)">SMALL VALUE PROCUREMENT (GOODS AND EQUIPMENT)</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> PR NO  </label>
                                        <select class="form-control" name="PrNo" id="PrNo" asp-items="ViewBag.Pr">
                                            <option value="">Select Pr No.</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> PR DATE </label>
                                        <input type="text" class="form-control" id="Date" name="PrDate" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold"> DESCRIPTION </label>
                                        <textarea class="form-control" name="Description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="" style="font-weight:bold">REMARKS</label>
                                        <input type="text" class="form-control" name="Remarks">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-xs btn-primary">Submit <span class="fa fa-check-square-o"></span> </button>
                        <a data-dismiss="modal" class="btn btn-xs btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#PrNo").change(function () {
            var selectedPrNo = $(this).val();
            $.ajax({
                url: '@Url.Action("GetDate","Procurement")',
                type: 'GET',
                data: { prNo: selectedPrNo },
                success: function (result) {
                    $("#Date").val(result);
                },
                error: function () {
                    console.log('Error fetching date');
                }
            });
        });

        $("#rpqdate").datepicker({
            dateFormat: "MM d, yy"

        });

        $('form').submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: '@Url.Action("SavePo", "Procurement")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        Lobibox.notify('success', {
                            title: 'Success',
                            msg: 'Data saved successfully..',
                            sound: false
                        });
                        setTimeout(function () {
                            location.reload();
                        }, 2000);
                    } else {
                        Lobibox.notify('error', {
                            title: 'Error',
                            msg: 'Error submitting the form..',
                            sound: false
                        });
                        setTimeout(function () {
                            $("#my-modal").modal("hide");
                            location.reload();
                        }, 1000);
                    }
                },
                error: function () {
                }
            });
        });
    });
</script>