<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="smaller lighter blue no-margin">Edit Bac Resolution No</h3>
</div>
<form asp-action="Create" method="post">
    <div class="modal-body">
        <div>
            <br />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="" style="font-weight:bold">BAC RES NO. </label>
                        <input type="text" class="form-control" id="" name="" required>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-xs btn-primary">Save <span class="fa fa-check-square-o"></span> </button>
        <a data-dismiss="modal" class="btn btn-xs btn-danger">Cancel</a>
    </div>
</form>