@model fmis.Models.Procurement.PuChecklist
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Procurement" + " " + "(Checklist2)";
}



<style>

    .card-container {
        width: calc(30% - 40px);
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        background-color: #fff;
        margin-left: 50px;
    }

    .underline {
        text-decoration: underline;
        width: 300px;
        margin: 0 auto;
    }

    .card-container input[type="checkbox"] {
        width: 18px;
        height: 18px;
        margin-right: 5px;
        margin-top: 2px;
    }

    .card-container p {
        margin-bottom: -2px;
    }

    .card-container form {
        /* Add your form element styles here */
    }

    .card-container label {
        font-weight: bold;
    }

    .card-container input[type="text"],
    .card-container select,
    .card-container textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    @@media (max-width: 1024px) {
        .card-container {
            width: calc(80% - 40px);
        }
    }

    @@media (max-width: 767px) {
        .background-wrapper {
            min-height: 100vh;
        }

        .card-container {
            width: 90%;
        }
    }



    .rectangle h6 {
        white-space: nowrap;
    }

    .rectangle {
        border: 1px solid black;
        padding-left: 5%; /* Adjust percentage for padding */
        padding-right: 5%; /* Adjust percentage for padding */
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%; /* Adjust percentage for width */
        display: inline-block;
    }
    .text-input-container {
        display: inline-block;
    }

    input[type="checkbox"] {
        -webkit-appearance: initial;
        appearance: initial;
        background: white;
        width: 40px;
        height: 40px;
        border: 1px solid black;
        position: relative;
    }

    input[type="checkbox"]:checked {
        background: black;
    }


    .text-input-container {
        display: inline-block;
    }

    input[type="checkbox"]:checked:after {
       content: "X";
       color: #fff;
       position: absolute;
       left: 50%;
       top: 50%;
       -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
       -ms-transform: translate(-50%,-50%);
       transform: translate(-50%,-50%);
    }


</style>
<h3 class="grey lighter smaller">
    P.U Checklist #2
</h3>
<hr>
<div class="background-wrapper">
    <div class="card-container">

        <form asp-controller="Procurement" asp-action="SaveChecklist">
            <input type="hidden" asp-for="ChecklistNo" value="2" />
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <div class="rectangle">
                            <h2>P.U CHECKLIST #2</h2>
                        </div>
                        <h5 style="font-weight:bold">
                            PURCHASE REQUEST (PR) FOR <br />
                            <u style="font-size: 10pt">
                                JOB ORDER FOR REPRODUCTION OF,<br />
                                IEC/TRAINING MATERIALS, REPORTING<br />
                                AND OTHER PRINTED FORMS
                            </u>
                        </h5>
                        <p style="font-weight:bold;">
                            (such as Flyer, Brochure, Forms, Poster,<br />
                            Tarpaulin, Streamer, Sticker, Leaflet, <br />
                            Flipchart, Manual, Newsletter, etc.)
                        </p>
                        <h6>PR NO. :
                            <select asp-for="Prno" asp-items="ViewBag.PrId" class="form-control pr" style="width: 200px;">
                                <option value="">Select Pr</option>
                            </select>
                        </h6>
                        <h6>
                            DATE : <input type="date" asp-for="PuChecklistDate" class="text-input-container" style="width: 200px;" />
                        </h6>
                        <div class="rectangle">
                            <h6 style="font-weight:bold">
                                SUPPORTING DOCUMENTS/DETAILS
                            </h6>
                        </div>
                    </center>

                    <div class="form-group">
                        <p>
                            <input type="checkbox" asp-for="PrChecklist[0].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[0].Description" value="Complete signatures incl. approval" />
                            Complete signatures incl. approval
                        </p>
                        <p>
                            <input type="checkbox" asp-for="PrChecklist[1].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[1].Description" value="Complete with PR # and date" />
                            Complete with PR # and date
                        </p>
                        <p>
                            <input type="checkbox" asp-for="PrChecklist[2].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[2].Description" value="Estimated unit cost & correct total cost" />
                            Estimated unit cost & correct total cost
                        </p>
                        <p>
                            <input type="checkbox" asp-for="PrChecklist[3].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[3].Description" value="Purpose of request" />
                            Purpose of request
                        </p>
                        <p>
                            <input type="checkbox" asp-for="PrChecklist[4].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[4].Description" value="Funding Source" />
                            Funding Source
                        </p>
                        <p style="font-weight:bold">
                            <u>
                                With Complete description:
                            </u>
                        </p>
                        <p style="margin-left:10px">
                            <input type="checkbox" asp-for="PrChecklist[5].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[5].Description" value="Paper Size" />
                            Paper Size
                        </p>
                        <p style="margin-left:10px">
                            <input type="checkbox" asp-for="PrChecklist[6].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[6].Description" value="Type of paper" />
                            Type of paper
                        </p>
                        <p style="margin-left:10px">
                            <input type="checkbox" asp-for="PrChecklist[7].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[7].Description" value="Number of pages" />
                            Number of pages
                        </p>
                        <p style="margin-left:10px">
                            <input type="checkbox" asp-for="PrChecklist[8].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[8].Description" value="Printing type (back-to-back or one-side)" />
                            Printing type (back-to-back or one-side)
                        </p>
                        <p style="margin-left:10px">
                            <input type="checkbox" asp-for="PrChecklist[9].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[9].Description" value="Type of binding" />
                            Type of binding
                        </p>
                        <p style="margin-left:10px">
                            <input type="checkbox" asp-for="PrChecklist[10].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[10].Description" value="Colored or black & white printing" />
                            Colored or black & white printing
                        </p>
                        <p style="margin-left:10px">
                            <input type="checkbox" asp-for="PrChecklist[11].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[11].Description" value="Others" />
                            Others <br />
                            &nbsp; &nbsp; &nbsp; &nbsp;  <input type="text" asp-for="PrChecklist[11].Others" style="border: none; border-bottom: 1px solid black;" />
                        </p>
                        <p>
                            <input type="checkbox" asp-for="PrChecklist[12].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[12].Description" value="Approved Allocation List or List of Recipients" />
                            Approved Allocation List or List of Recipients
                        </p>
                        <p>
                            <input type="checkbox" asp-for="PrChecklist[13].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[13].Description" value="Date Needed, if applicable" />
                            Date Needed, if applicable
                        </p>
                        <p>
                            <input type="checkbox" asp-for="PrChecklist[14].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[14].Description" value="With sample or design" />
                            With sample or design
                        </p>
                        <p>
                            <input type="checkbox" asp-for="PrChecklist[15].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[15].Description" value="Approved Realignment, If applicable" />
                            Approved Realignment, If applicable
                        </p>
                        <p>
                            <input type="checkbox" asp-for="PrChecklist[16].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[16].Description" value="Approved WFP/Supplemental WFP" />
                            Approved WFP/Supplemental WFP
                        </p>
                        <p>
                            <input type="checkbox" asp-for="PrChecklist[17].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[17].Description" value="Approved PPMP/Supplemental PPMP" />
                            Approved PPMP/Supplemental PPMP
                        </p>
                        <p>
                            <input type="checkbox" asp-for="PrChecklist[18].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[18].Description" value="Others" />
                            Others <br />
                            &nbsp; &nbsp; &nbsp; &nbsp;  <input type="text" asp-for="PrChecklist[18].Others" style="border: none; border-bottom: 1px solid black;" />
                        </p>

                        <br />
                        <p style="font-weight:bold">
                            REMARKS:
                        </p>
                        <p style="font-weight:bold">
                            <input type="checkbox" asp-for="PrChecklist[19].IsChecked" class="form-check-input">
                            <input type="hidden" asp-for="PrChecklist[19].Description" value="COMPLETE" />
                            COMPLETE
                        </p>
                        <p style="font-weight:bold">
                            <input type="checkbox" asp-for="PrChecklist[20].IsChecked" class="form-check-input">
                            Please comply with item(s) marked <br />
                            &nbsp; &nbsp; &nbsp; &nbsp; X on or before <input type="text" asp-for="Remarks" style="border: none; border-bottom: 1px solid black;" />
                        </p>
                        <br />
                        <br />
                        <p style="font-family:'Times New Roman'; font-style:italic; font-size: 10pt">
                            CHECKED/REVIEWED BY:
                        </p>
                        <br />
                        <center>
                            <p class="underline">
                                STEFANIE LORRAINE D. TRINIDAD
                            </p>
                            <br />
                            <button type="submit" class="bnt btn-primary" style="float: right;">Submit</button>
                        </center>
                    </div>
                </div>
            </div>
            </form>
    </div>
</div>

<br />
<div class="alert" style="width: 550px; display: none;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span id="alert-message"></span>
</div>

<script>
    $(document).ready(function () {
        $('.pr').select2();

        $('form').submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: '@Url.Action("SaveChecklist", "Procurement")',
                type: 'POST',
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        Lobibox.notify('success', {
                            title: 'Success',
                            msg: 'Submitted to End User..',
                            sound: false
                        });
                    } else {
                        Lobibox.notify('error', {
                            title: 'Error',
                            msg: 'Error submitting the form..',
                            sound: false
                        });
                    }
                    $('form')[0].reset();
                    $('.pr').val('').trigger('change');
                },
                error: function () {
                }
            });
        });
    });
</script>



