@model fmis.ViewModel.LoginViewModel


@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_ProcurementLogin.cshtml";
}


<div class="login-logo">
    <center>
        <img src="~/assets/images/doh_logo_updated.png" style="width: 25%; margin-bottom: 10px" />
        <br>
        <label class="specific-label">PROCUREMENT UNIT</label>
    </center>
</div>
<!-- /.login-logo -->
<div class="card">
    <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form method="post" asp-action="Login">
            <input type="hidden" asp-for="ReturnUrl" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="input-group mb-3">
                <input type="text" asp-for="Username" class="form-control" placeholder="User ID">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                <div class="input-group-append">
                    <div class="input-group-text toggle-password">
                        <span class="fas fa-eye"></span>
                    </div>
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                        <input type="checkbox" asp-for="RememberMe" id="remember">
                        <label for="remember">
                            Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
    </div>
    <!-- /.login-card-body -->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
        const togglePassword = document.querySelector('.toggle-password');
        const passwordInput = document.querySelector('input[type="password"]');

        togglePassword.addEventListener('click', function () {
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                togglePassword.innerHTML = '<span class="fas fa-eye-slash"></span>';
            } else {
                passwordInput.type = 'password';
                togglePassword.innerHTML = '<span class="fas fa-eye"></span>';
            }
        });
</script>
