@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Procurement (Print)";
}

<h3 class="grey lighter smaller">
    PRINT HELLO WORLD!
</h3>


<div class="col-xs-12">


    <form>
        <!-- Text input -->
        <label for="textInput">Text Input:</label>
        <input type="text" id="textInput" name="textInput" />
        <br />

        <!-- Checkboxes -->
        <label>
            <input type="checkbox" name="checkbox1" />
            Label 1
        </label>
        <br />

        <label>
            <input type="checkbox" name="checkbox2" />
            Label 2
        </label>
        <br />

        <label>
            <input type="checkbox" name="checkbox3" />
            Label 3
        </label>
        <br />

        <label>
            <input type="checkbox" name="checkbox4" />
            Label 4
        </label>
        <br />

        <label>
            <input type="checkbox" name="checkbox5" />
            Label 5
        </label>
        <br />

        <label>
            <input type="checkbox" name="checkbox6" />
            Label 6
        </label>
        <br />

        <label>
            <input type="checkbox" name="checkbox7" />
            Label 7
        </label>
        <br />
        <hr />
        <a class="btn btn-xs btn-primary btn-edit" >
            <i class="ace-icon fa fa-print"></i>Print
        </a>
        <!-- Add a submit button if needed -->
        <!-- <input type="submit" value="Submit" /> -->
    </form>
	<!-- PAGE CONTENT ENDS -->
</div>


