@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Procurement (Print)";
}

<h3 class="grey lighter smaller">
    PRINT HELLO WORLD!
</h3>
<hr>
<div class="col-xs-4">
    <form id="printForm">
        <!-- Text input -->
        <label for="textInput">Text Input:</label>
        <input type="text" id="textInput" class="form-control" name="textInput" />
        <br />
        <br />
        <button type="submit" class="btn btn-xs btn-primary btn-edit">
            <i class="ace-icon fa fa-check"></i> Submit
        </button>
        <br />
        <br />
        <!-- Checkboxes -->
        <label>
            <input type="checkbox" name="checkbox1" onclick="handleCheckboxClick(this)" />
            SUPPLIER
        </label>
        <br />

        <label>
            <input type="checkbox" name="checkbox2" onclick="handleCheckboxClick(this)" />
            RECOMMENDATION (GOODS AND SERVICES)
        </label>
        <br />
        <label>
            <input type="checkbox" name="checkbox3" onclick="handleCheckboxClick(this)" />
            RECOMMENDATION (MEDICINE)
        </label>
        <br />

        <label>
            <input type="checkbox" name="checkbox4" onclick="handleCheckboxClick(this)" />
           TWG (GOODS)
        </label>
        <br />
        <label>
            <input type="checkbox" name="checkbox5" onclick="handleCheckboxClick(this)" />
           TWG (MEDICINE)
        </label>
        <br />
        <br />

        <a id="printButton" class="btn btn-xs btn-primary btn-edit" target="_blank" onclick="printDocument()">
            <i class="ace-icon fa fa-print"></i> Print
        </a>
    
    </form>
    <!-- PAGE CONTENT ENDS -->
</div>


<script>
    function printDocument() {
        var printButton = document.getElementById('printButton');
        var form = document.getElementById('printForm');
        var checkboxes = form.querySelectorAll('input[type="checkbox"]');
        var selectedCheckbox;

        // Find the selected checkbox
        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                selectedCheckbox = checkbox;
            }
        });

        // Update asp-controller and asp-action based on the selected checkbox
        if (selectedCheckbox) {
            printButton.href = '/Procurement/' + getActionForCheckbox(selectedCheckbox);
        }
    }

    function getActionForCheckbox(checkbox) {
        switch (checkbox.name) {
            case 'checkbox1':
                return 'PrintPu';
            case 'checkbox2':
                return 'PrintRecommendationGoods';
            case 'checkbox3':
                return 'PrintRecommendationMeds';
            case 'checkbox4':
                return 'PrintTWGGoods';
            case 'checkbox5':
                return 'PrintTWGMeds';
            default:
                return ''; // Handle other cases if needed
        }
    }

    function handleCheckboxClick(clickedCheckbox) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {
            if (checkbox !== clickedCheckbox) {
                checkbox.disabled = clickedCheckbox.checked;
            }
        });
    }
</script>


