@model fmis.Models.Procurement.PuChecklist

@* TEMPORARY MODEL *@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Procurement" + " " + "PR";
}

<h3 class="grey lighter smaller">
    PURCHASE REQUEST 
</h3>
<hr>
<br />
<table class="table table-hover" style="width: 1300px">
    <thead>
        <tr>
            <th>
                TABLE HEADER1
            </th>
            <th>
                TABLE HEADER2
            </th>
            <th>
                TABLE HEADER3
            </th>
            <th>
                TABLE HEADER4
            </th>
            <th>
                TABLE HEADER5
            </th>
            <th>
                TABLE HEADER6
            </th>
            <th>
                TABLE HEADER7
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
     
        <tr>
            <td>
                SAMPLE TD 1
            </td>
            <td>
                SAMPLE TD 2
            </td>
            <td>
                SAMPLE TD 3
            </td>
            <td>
                SAMPLE TD 4
            </td>
            <td>
                SAMPLE TD 5
            </td>
            <td>
                SAMPLE TD 6
            </td>
            <td>
                SAMPLE TD 7
            </td>
            <td>
                <a class="btn btn-xs btn-primary btn-edit" >
                    <i class="ace-icon fa fa-edit"></i>Edit
                </a>
            </td>
        </tr>
    


    </tbody>
</table>