@model fmis.Models.Suballotment_amount
@using fmis.Models;
@{


    Suballotment_amount Suballotment_amount = TempData["Suballotment_amount"] as Suballotment_amount;
    List<Suballotment_amount> suballotment_amountt = TempData["Suballotment_amount"] as List<Suballotment_amount>;
}


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="Add new Sub_allotment">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Create Budget Source
        <div class="pull-right">
            <div class="btn-group">
                <input type="submit" value="Create" class="btn btn-success btn-xs" />
                <a asp-action="Index" class="btn btn-danger btn-xs">Exit</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               <label asp-for="Expenses" class="control-label"></label>
               <input asp-for="Expenses" class="form-control" />
                <span asp-validation-for="Expenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
             </div>
            <div class="form-group">
                <label asp-for="Fund_source" class="control-label"></label>
                <input asp-for="Fund_source" class="form-control" />
                <span asp-validation-for="Fund_source" class="text-danger"></span>
             </div>
             <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
          </div>
            
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</form>