@model fmis.Models.Accounting.IndexOfPayment

@{
    ViewData["Title"] = "Create";
}
<style>
    .select2 {
        min-height: 33px;
    }
</style>
<form asp-action="Create">
    <div>
        <input type="hidden" asp-for="CategoryId" value="@ViewBag.CategoryId " />
        <input type="hidden" asp-for="DeductionId" value="@ViewBag.DeductionId" />
        <input type="hidden" asp-for="DvId" value="@ViewBag.DvId" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
