@model fmis.Models.Accounting.IndexOfPayment

<link rel="stylesheet" href="~/assets/plugin/daterangepicker/daterangepicker.css">
<script src="~/assets/plugin/daterangepicker/moment.min.js"></script>
<script src="~/assets/plugin/daterangepicker/daterangepicker.js"></script>
<style>
    .select2 {
        width: 100% !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<button type="button" style="margin-right:15px; margin-top: 10px;" class="close" data-dismiss="modal">×</button>
<center><h3 class="grey lighter smaller">Create Index of Payment </h3></center>
<hr />
<div class="container" style="height: 810px;">
    <form asp-action="Create" style="position:center;">
        <div class="col-md-12">
            <div class="col-md-3">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <select class="form-control select2" asp-for="CategoryId" asp-items="ViewBag.CategoryId">
                        <option> - Select Category - </option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Dv" class="control-label"></label>
                        <select class="form-control select2" asp-for="DvId" asp-items="ViewBag.DvId">
                            <option> - Select Dv # - </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>PAYEE :</label>
                        <input id="payee" class="form-control" readonly />
                    </div>
                </div>

            </div>
            <div>
                <div class="col-md-3">
                    <label>DV DATE:</label>
                    <input type="date" asp-for="DvDate" class="form-control">
                    <span class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>PARTICULARS:</label>
                    <input asp-for="Particulars" class="form-control" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-3" name="hidden-panel1" id="hidden-panel1">
                <div class="form-group">
                    <label>PO #:</label>
                    <input asp-for="PoNumber" type="text" class="form-control" />
                </div>
            </div>
            <div class="col-md-3" name="hidden-panel2" id="hidden-panel2">
                <div class="form-group">
                    <label>PROJECT ID:</label>
                    <input asp-for="ProjectId" class="form-control" />
                </div>
            </div>
            <div class="col-md-3" name="hidden-panel5" id="hidden-panel5">
                <div class="form-group">
                    <label>INVOICE #:</label>
                    <input asp-for="InvoiceNumber" type="text" class="form-control" />
                </div>
            </div>
            <div class="col-md-3" name="hidden-panel4" id="hidden-panel4">
                <div class="form-group">
                    <label>FROM TO:</label>
                    <input type="date" asp-for="PeriodCoverFromTo" class="form-control js-daterangepicker">
                </div>
            </div>
            <div class="col-md-3" name="hidden-panel6" id="hidden-panel6">
                <div class="form-group">
                    <label>PERIOD COVER:</label>
                    <input type="date" name="date" asp-for="PeriodCover" class="form-control ">
                </div>
            </div>

            <div>
                <div class="col-md-3" name="hidden-panel7" id="hidden-panel7">
                    <div class="form-group">
                        <label>S.O #:</label>
                        <input type="text" asp-for="SoNumber" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3" name="hidden-panel8" id="hidden-panel8">
                    <div class="form-group">
                        <label>TRAVEL PERIOD:</label>
                        <input type="text" name="date" asp-for="TravelPeriod" class="form-control js-daterangepicker">
                    </div>
                </div>
                <div class="col-md-3" name="hidden-panel9" id="hidden-panel9">
                    <div class="form-group">
                        <label>ACCOUNT #:</label>
                        <input type="text" asp-for="AccountNumber" class="form-control" />
                    </div>
                </div>
                <div class="col-md-3" name="hidden-panel10" id="hidden-panel10">
                    <div class="form-group">
                        <label># OF BILLING: (FIRST, SECOND):</label>
                        <input type="text" asp-for="NumberOfBill" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 40px;">
            <div class="col-md-2" style="width: 250px; ">
                <div class="form-group" style="margin-left: 100px; margin-top: 5px;">
                    <label style="font-weight:bold;">GROSS AMOUNT: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" id="gross_amount" type="number" asp-for="GrossAmount" placeholder="0.00" onchange="computeNetAmount()" />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="indexDeductions[0].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="indexDeductions[0].Amount" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="indexDeductions[1].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="indexDeductions[1].Amount" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="indexDeductions[2].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="indexDeductions[2].Amount" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="indexDeductions[3].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="indexDeductions[3].Amount" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="indexDeductions[4].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="indexDeductions[4].Amount" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="indexDeductions[5].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="indexDeductions[5].Amount" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="indexDeductions[6].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="indexDeductions[6].Amount" placeholder="0.00" />
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group" style="margin-left: 80px; margin-top: 5px;">
                    <label style="font-weight:bold;">TOTAL DEDUCTIONS: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="text" id="total_deduction" placeholder="0.00" readonly />
                </div>
            </div>
        </div>



        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group" style="margin-left: 120px; margin-top: 5px;">
                    <label style="font-weight:bold;">NET AMOUNT: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" type="text" id="net_amount" placeholder="0.00" readonly />
                </div>
                <input type="submit" id="btnsubmit" value="Submit" class="btn btn-success btn-sm " />
            </div>
        </div>


        @*
            <a class="btn btn-success btn-sm"> <i class="ace-icon fa fa-arrow-right"></i> Submit </a>*@
        @*  <input type="submit" id="btnsubmit" value="Create" class="btn btn-success btn-sm " />
        *@

    </form>
</div>

<br />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>

    $('.select2').select2();
    $("#CategoryId").val(36);
    $("#CategoryId").trigger("click");
    $(document).ready(function () {
        for (i = 1; i <= 10; i++) {
            $('#hidden-panel' + i).hide();
        }
    });

    function submitDeduction(parentDiv) {
        let dvDeduction = $(parentDiv).find('select');
        let dvDedectionAmt = $(parentDiv).find('input');
        if (dvDeduction.val() && dvDedectionAmt.val()) {
            console.log(dvDeduction.val(), dvDedectionAmt.val());
        }
        computeNetAmount();

    }

    function computeNetAmount() {
        let amounts = $('.deduction_amount');
        let gross_amount = +$('#gross_amount').val();
        let total = 0;
        $(amounts).each(function (index, value) {
            total += +value.value;
        });

        $('#total_deduction').val(total);
        $('#net_amount').val(gross_amount - total);
    }

    // dummy/live

     $("#CategoryId").on('change', function () {
        var value = $(this).val();
        console.log(value);
        const categ = [];
        if (value == 36) {
            $("#hidden-panel1").show();
            $("#hidden-panel5").show();
            $("#hidden-panel4").hide();
            categ.push('2', '4', '6', '7', '8', '9', '10');
        } else if (value == 37) {
            $("#hidden-panel2").show();
            categ.push('1', '4', '5', '6', '7', '8', '9', '10');
        } else if (value == 38) {
            $("#hidden-panel2").show();
            $("#hidden-panel10").show();
            categ.push('1', '4', '5', '6', '7', '8', '9');
        } else if (value == 40) {
            $("#hidden-panel4").show();
            $("#hidden-panel10").show();
            categ.push('1', '2', '5', '6', '7', '8', '9');
        } else if (value == 45 || value == 52) {
            $("#hidden-panel7").show();
            $("#hidden-panel8").show();
            categ.push('1', '2', '4', '5', '10', '6', '9');
        } else if (value == 54) {
            $("#hidden-panel8").show();
            categ.push('1', '2', '4', '5', '10', '6', '9');
        } else if (value == 46 || value == 47) {
            $("#hidden-panel7").show();
            categ.push('1', '2', '4', '5', '8', '6', '9', '10');
        } else if (value == 53 || value == 62) {
            categ.push('1', '4', '5', '2', '6', '7', '8', '9', '10');
        } else if (value == 49 || value == 50 || value == 51) {
            $("#hidden-panel6").show();
            $("#hidden-panel9").show();
            categ.push('1', '4', '5', '2', '7', '8', '10');
        } else if (value == 39 || value == 48 || (value >= 57 && value <= 61) || (value >= 65 && value <= 68)) {
            $("#hidden-panel4").show();
            categ.push('1', '5', '2', '7', '8', '9', '10', '6');
        } else if ((value >= 41 && value <= 45) || value == 55 || (value >= 49 && value <= 52) || (value >= 63 && value <= 64)) {
            $("#hidden-panel6").show();
            categ.push('1', '4', '5', '2', '7', '8', '9', '10');
        } else if (value == 53 || value == 62) {
            categ.push('1', '2', '4', '5', '6', '7', '8', '9', '10');
        } else if (value == 54) {
            $("#hidden-panel8").show();
            categ.push('1', '2', '4', '5', '10', '6', '7', '9');
        }
        categ.forEach(function (i) {
            $('#hidden-panel' + i).hide();
        });
    });

    //local

   @* $("#CategoryId").on('change', function () {
        var value = $(this).val();
        console.log(value);
        const categ = [];
        if (value == 1) {
            $("#hidden-panel1").show();
            $("#hidden-panel5").show();
            categ.push('2', '4', '6', '7', '8', '9', '10');
        } else if (value == 2) {
            $("#hidden-panel2").show();
            categ.push('1', '4', '5', '6', '7', '8', '9', '10');
        } else if (value == 3) {
            $("#hidden-panel2").show();
            $("#hidden-panel10").show();
            categ.push('1', '4', '5', '6', '7', '8', '9');
        } else if (value == 5) {
            $("#hidden-panel4").show();
            $("#hidden-panel10").show();
            categ.push('1', '2', '5', '6', '7', '8', '9');
        } else if (value == 10 || value == 17) {
            $("#hidden-panel7").show();
            $("#hidden-panel8").show();
            categ.push('1', '2', '4', '5', '10', '6', '9');
        } else if (value == 19) {
            $("#hidden-panel8").show();
            categ.push('1', '2', '4', '5', '10', '6', '9');
        } else if (value == 11 || value == 12) {
            $("#hidden-panel7").show();
            categ.push('1', '2', '4', '5', '8', '6', '9', '10');
        } else if (value == 18 || value == 27) {
            categ.push('1', '4', '5', '2', '6', '7', '8', '9', '10');
        } else if (value == 14 || value == 15 || value == 16) {
            $("#hidden-panel6").show();
            $("#hidden-panel9").show();
            categ.push('1', '4', '5', '2', '7', '8', '10');
        } else if (value == 4 || value == 13 || (value >= 22 && value <= 26) || (value >= 30 && value <= 33)) {
            $("#hidden-panel4").show();
            categ.push('1', '5', '2', '7', '8', '9', '10', '6');
        } else if ((value >= 6 && value <= 10) || value == 20 || (value >= 14 && value <= 17) || (value >= 28 && value <= 29)) {
            $("#hidden-panel6").show();
            categ.push('1', '4', '5', '2', '7', '8', '9', '10');
        } else if (value == 18 || value == 27) {
            categ.push('1', '2', '4', '5', '6', '7', '8', '9', '10');
        } else if (value == 19) {
            $("#hidden-panel8").show();
            categ.push('1', '2', '4', '5', '10', '6', '7', '9');
        }
        categ.forEach(function (i) {
            $('#hidden-panel' + i).hide();
        });
    });*@

    $(document).ready(function () {
        $('.filter').change(function () {
            $('.filterable').each(function () {
                if ($(this).data('ref') != $('.filter').val() && $('.filter').val() != -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
        get_sbu();
    function get_sbu() {
        var selected_val = $('#ddlBranches').find(":selected").attr('value');
        $('#dvid').val(selected_val);
        $.ajax({
            type: "POST",
            url: '@Url.Action("selectAT", "DV")',
            data: "id=" + selected_val,
            success: function (data) {
                if (data.length > 0) {
                    $('#payee').val(data[0].payee);
                }
                else {
                    $('#payee').val('');
                }
            }
        });
    }

    function Comma(Num) { //function to add commas to textboxes
        Num += '';
        Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
        Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
        x = Num.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1))
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        return x1 + x2;
    }


    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
    $(function () {
        $('input[name="date"]').daterangepicker({
            autoUpdateInput: false,
            locale: {
                cancelLabel: 'Clear'
            }
        });
        $('input[name="date"]').on('apply.daterangepicker', function (ev, picker) {
            $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
            var data = {
                date: picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY')
            };
        });

        $('input[name="date"]').on('cancel.daterangepicker', function (ev, picker) {
            $(this).val('');
        });
    });
</script>
