@{
    ViewData["Title"] = "Upload Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="widget-box col-md-2" style="margin-top: 50px; margin-left: 20px;">
    <div class="widget-header">
        <i class="fa fa-upload"></i><h4 class="widget-title"> Upload Index </h4>

    </div>
    <br />
    <div class="widget-body">
        <div class="widget-main">

            <div>
                <form asp-action="ImportPayee"
                      enctype="multipart/form-data"
                      method="post">
                    <dl>
                        <dd>
                            <input id="FileUpload_FormFile" type="file"
                                   name="FileUpload.FormFile" />
                        </dd>
                    </dl>
                    <input class="btn btn-success btn-sm" type="submit" value="Upload" />

                    <div style="margin-top:15px">
                        <output name="result"></output>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>