@model IEnumerable<fmis.Models.Accounting.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .select2 {
        width: 100% !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>


<h3 class="grey lighter smaller">
    Index of Payment
</h3>
<hr>
<form asp-action="Create">
    <div class="row">
        <div class="col-md-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>SELECT CATEGORY:</label>
                @Html.DropDownList("CategoryId", null, " - Select Category - ", htmlAttributes: new { @class = "select2 form-control" })

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>DV #:</label>
                @Html.DropDownList("DvId", null, " - Select Dv No - ", htmlAttributes: new { @class = "select2 form-select2", @id = "ddlBranches", onchange = "return get_sbu(this)" })

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>PAYEE :</label>
                <input id="payee" class="form-control" readonly />
            </div>
        </div>
        <div>
            <div class="col-md-3">
                <label>DV DATE:</label>
                <input type="date" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label>PARTICULARS:</label>
                <input id="particular" class="form-control" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" name="hidden-panel1" id="hidden-panel1">
            <div class="form-group">
                <label>PO #:</label>
                <input id="po" class="form-control" />
            </div>
        </div>
        <div class="col-md-3" name="hidden-panel2" id="hidden-panel2">
            <div class="form-group">
                <label>PROJECT ID:</label>
                <input id="pi" class="form-control" />
            </div>
        </div>
        <div class="col-md-3" name="hidden-panel5" id="hidden-panel5">
            <div class="form-group">
                <label>INVOICE #:</label>
                <input id="invoice" class="form-control" />
            </div>
        </div>
        <div class="col-md-3" name="hidden-panel6" id="hidden-panel6">
            <div class="form-group">
                <label>PERIOD COVERED:</label>
                <input id="covered" type="date" class="form-control" />
            </div>
        </div>
        <div>
            <div class="col-md-3" name="hidden-panel7" id="hidden-panel7">
                <div class="form-group">
                    <label>S.O #:</label>
                    <input id="so" class="form-control" />
                </div>
            </div>
            <div class="col-md-3" name="hidden-panel8" id="hidden-panel8">
                <div class="form-group">
                    <label>TRAVEL PERIOD:</label>
                    <input id="travel" class="form-control" />
                </div>
            </div>
            <div class="col-md-3" name="hidden-panel9" id="hidden-panel9">
                <div class="form-group">
                    <label>ACCOUNT #:</label>
                    <input id="account" class="form-control" />
                </div>
            </div>
            <div class="col-md-3" name="hidden-panel10" id="hidden-panel10">
                <div class="form-group">
                    <label># OF BILLING: (FIRST, SECOND):</label>
                    <input id="billings" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-2">
            <div class="form-group" style="margin-left: 120px">
                <label style="font-weight:bold;">GROSS AMOUNT: </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <select asp-items="ViewBag.DeductionId" class="form-control select2">
                    <option> - Select Deduction - </option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group" style="margin-left: 115px">
                <label style="font-weight:bold;">TOTAL DEDUCTIONS: </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" readonly />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-2">
            <div class="form-group" style="margin-left: 120px">
                <label style="font-weight:bold;">NET AMOUNT: </label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" readonly />
            </div>
            <input type="submit" id="btnsubmit" value="Submit" class="btn btn-success btn-sm " />
        </div>
    </div>
    @*
        <a class="btn btn-success btn-sm"> <i class="ace-icon fa fa-arrow-right"></i> Submit </a>*@
  @*  <input type="submit" id="btnsubmit" value="Create" class="btn btn-success btn-sm " />
*@

</form>

<br />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script>

    $('.select2').select2();
    $("#CategoryId").val(36);
    $("#CategoryId").trigger("click");
    $(document).ready(function () {
        for (i = 1; i <= 10; i++) {
            $('#hidden-panel' + i).hide();
        }
    });
    // dummy/live

@*    $("#CategoryId").on('change', function () {
        var value = $(this).val();
        console.log(value);
        const categ = [];
        if (value == 36) {
            $("#hidden-panel1").show();
            $("#hidden-panel5").show();
            categ.push('2', '6', '7', '8', '9', '10');
        } else if (value == 37) {
            $("#hidden-panel2").show();
            categ.push('1', '5', '6', '7', '8', '9', '10');
        } else if (value == 38) {
            $("#hidden-panel2").show();
            $("#hidden-panel10").show();
            categ.push('1', '5', '6', '7', '8', '9');
        } else if (value == 45 || value == 52) {
            $("#hidden-panel8").show();
            $("#hidden-panel7").show();
            categ.push('1', '2', '5', '10', '6', '9');
        } else if (value == 46 || value == 47) {
            $("#hidden-panel7").show();
            categ.push('1', '2', '5', '8', '6', '9', '10');
        } else if (value == 48) {
            $("#hidden-panel6").show();
            categ.push('1', '5', '2', '7', '8', '9', '10');
        } else if (value == 49 || value == 50 || value == 51) {
            $("#hidden-panel6").show();
            $("#hidden-panel9").show();
            categ.push('1', '5', '2', '7', '8', '10');
        } else if ((value >= 39 && value <= 44) || (value >= 55 && value <= 68 && value != 62)) {
            $("#hidden-panel6").show();
            categ.push('1', '5', '2', '7', '8', '9', '10');
        } else if (value == 53 || value == 54 || value == 62) {
            categ.push('1', '2', '5', '6', '7', '8', '9', '10');
        }
        categ.forEach(function (i) {
            $('#hidden-panel' + i).hide();
        });
    });*@


    //local
    $("#CategoryId").on('change', function () {
        var value = $(this).val();
        console.log(value);
        const categ = [];
        if (value == 1) {
            $("#hidden-panel1").show();
            $("#hidden-panel5").show();
            categ.push('2', '6', '7', '8', '9', '10');
        } else if (value == 2) {
            $("#hidden-panel2").show();
            categ.push('1', '5', '6', '7', '8', '9', '10');
        } else if (value == 3) {
            $("#hidden-panel2").show();
            $("#hidden-panel10").show();
            categ.push('1', '5', '6', '7', '8', '9');
        } else if (value == 10 || value == 17) {
            $("#hidden-panel8").show();
            $("#hidden-panel7").show();
            categ.push('1', '2', '5', '10', '6', '9');
        } else if (value == 11 || value == 12) {
            $("#hidden-panel7").show();
            categ.push('1', '2', '5', '8', '6', '9', '10');
        } else if (value == 13) {
            $("#hidden-panel6").show();
            categ.push('1', '5', '2', '7', '8', '9', '10');
        } else if (value == 14 || value == 15 || value == 16) {
            $("#hidden-panel6").show();
            $("#hidden-panel9").show();
            categ.push('1', '5', '2', '7', '8', '10');
        } else if ((value >= 4 && value <= 9) || (value >= 20 && value <= 33 && value != 27)) {
            $("#hidden-panel6").show();
            categ.push('1', '5', '2', '7', '8', '9', '10');
        } else if (value == 18 || value == 19 || value == 27) {
            categ.push('1', '2', '5', '6', '7', '8', '9', '10');
        }
        categ.forEach(function (i) {
            $('#hidden-panel' + i).hide();
        });
    });

    $(document).ready(function () {
        $('.filter').change(function () {
            $('.filterable').each(function () {
                if ($(this).data('ref') != $('.filter').val() && $('.filter').val() != -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
        get_sbu();
    function get_sbu() {
        var selected_val = $('#ddlBranches').find(":selected").attr('value');
        $.ajax({
            type: "POST",
            url: '@Url.Action("selectAT", "DV")',
            data: "id=" + selected_val,
            success: function (data) {
                if (data.length > 0) {
                    $('#payee').val(data[0].payee);
                }
                else {
                    $('#payee').val('');
                }
            }
        });
    }
    function setTwoNumberDecimal(event) {
        this.value = parseFloat(this.value).toFixed(2);
    }
</script>