@model IEnumerable<fmis.Models.Accounting.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .select2 {
        width: 100% !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>


<h3 class="grey lighter smaller">
    Index of Payment
</h3>
<hr>
<div class="row" style="margin-left:2px;">
    <div class="col-md-3">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>SELECT CATEGORY:</label>
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "select2 form-control"})
            </div>
        </div>
        </div>

    @*<div class="col-md-3">
        <div class="form-group">
            <label>CATEGORY:</label>
            <form>
                <select class="filter select2 form-control">
                    <option value="0"> SELECT CATEGORY </option>
                    <option value="1"> PURCHASE OF GOODS AND SERVICES </option>
                    <option value="2"> ADVANCE PAYMENT TO CONTRACTOR </option>
                    <option value="3"> PROGRESS BILLING-INFRA </option>
                    <option value="4"> PAYMENT OF OFFICE RENTAL </option>
                    <option value="5"> PAYMENT OF RENTAL (EQUIPMENT) </option>
                    <option value="6"> PAYMENT OF BAC HONORARIA </option>
                    <option value="7"> PAYMENT OF HONORARIA TO RESOURCE PERSONS </option>
                    <option value="8"> PAYMENT OF FIDELITY BOND </option>
                    <option value="9"> REPLENISHMENT OF PETTY CASH </option>
                    <option value="10"> PAYMENT OF CASH ADVANCE FOR TRAVEL </option>
                    <option value="12"> PAYMENT OF CASH ADVANCE FOR SPECIAL DISBURSING OFFICER </option>
                    <option value="12"> PAYMENT OF CASH ADVANCE FOR PETTY CASH </option>
                    <option value="13"> PAYMENT OF COMMUNICATION ALLOWANCE </option>
                    <option value="14"> PAYMENT OF ELECTRICITY </option>
                    <option value="15"> PAYMENT OF WATER BILL </option>
                    <option value="16"> PAYMENT OF TELEPHONE BILLS/INTERNET </option>
                    <option value="17"> REIMBURSEMENT OF TRAVELLING EXPENSES </option>
                    <option value="18"> OTHER REIMBURSEMENTS </option>
                    <option value="19"> PAYMENT TO AIRLINE COMPANIES </option>
                    <option value="20"> PAYMENT OF FUEL AND LUBRICANT EXPENSES </option>
                    <option value="21"> TAX REFUND </option>
                    <option value="22"> PAYMENT OF SALARIES TO JOB ORDER PERSONNEL </option>
                    <option value="23"> PAYMENT OF BASIC SALARY AND PERA (REGULAR, PS CONTRACTUAL) </option>
                    <option value="24"> PAYMENT OF SUBSISTENCE AND ALLOWANCE UNDER MAGNA CARTA </option>
                    <option value="25"> PAYMENT OF HAZARD PAY UNDER MAGNA CARTA </option>
                    <option value="26"> PAYMENT OF LONGEVITY PAY </option>
                    <option value="27"> PAYMENT OF TERMINAL LEAVE PAY </option>
                    <option value="28"> PAYMENT OF FIRST SALARY </option>
                    <option value="29"> PAYMENT OF LAST SALARY </option>
                    <option value="30"> REMITTANCE OF TAXES </option>
                    <option value="31"> PHILHEALTH REMITTANCE </option>
                    <option value="32"> PAG-IBIG REMITTANCE </option>
                    <option value="33"> REMITTANCE OF OTHER PAYABLES </option>
                </select>
            </form>
        </div>
>>>>>>> d0ddc15e076ac1df8fef7e8d0883ff508e7c84f4
    </div>*@


    @*    <div class="col-md-3">
            <div class="form-group">
                <label>CATEGORY:</label>
                <form>
                    <select class="filter select2 form-control">
                        <option value="0"> SELECT CATEGORY </option>
                        <option value="1"> PURCHASE OF GOODS AND SERVICES </option>
                        <option value="2"> ADVANCE PAYMENT TO CONTRACTOR </option>
                        <option value="3"> PROGRESS BILLING-INFRA </option>
                        <option value="4"> PAYMENT OF OFFICE RENTAL </option>
                        <option value="5"> PAYMENT OF RENTAL (EQUIPMENT) </option>
                        <option value="6"> PAYMENT OF BAC HONORARIA </option>
                        <option value="7"> PAYMENT OF HONORARIA TO RESOURCE PERSONS </option>
                        <option value="8"> PAYMENT OF FIDELITY BOND </option>
                        <option value="9"> REPLENISHMENT OF PETTY CASH </option>
                        <option value="10"> PAYMENT OF CASH ADVANCE FOR TRAVEL </option>
                        <option value="12"> PAYMENT OF CASH ADVANCE FOR SPECIAL DISBURSING OFFICER </option>
                        <option value="12"> PAYMENT OF CASH ADVANCE FOR PETTY CASH </option>
                        <option value="13"> PAYMENT OF COMMUNICATION ALLOWANCE </option>
                        <option value="14"> PAYMENT OF ELECTRICITY </option>
                        <option value="15"> PAYMENT OF WATER BILL </option>
                        <option value="16"> PAYMENT OF TELEPHONE BILLS/INTERNET </option>
                        <option value="17"> REIMBURSEMENT OF TRAVELLING EXPENSES </option>
                        <option value="18"> OTHER REIMBURSEMENTS </option>
                        <option value="19"> PAYMENT TO AIRLINE COMPANIES </option>
                        <option value="20"> PAYMENT OF FUEL AND LUBRICANT EXPENSES </option>
                        <option value="21"> TAX REFUND </option>
                        <option value="22"> PAYMENT OF SALARIES TO JOB ORDER PERSONNEL </option>
                        <option value="23"> PAYMENT OF BASIC SALARY AND PERA (REGULAR, PS CONTRACTUAL) </option>
                        <option value="24"> PAYMENT OF SUBSISTENCE AND ALLOWANCE UNDER MAGNA CARTA </option>
                        <option value="25"> PAYMENT OF HAZARD PAY UNDER MAGNA CARTA </option>
                        <option value="26"> PAYMENT OF LONGEVITY PAY </option>
                        <option value="27"> PAYMENT OF TERMINAL LEAVE PAY </option>
                        <option value="28"> PAYMENT OF FIRST SALARY </option>
                        <option value="29"> PAYMENT OF LAST SALARY </option>
                        <option value="30"> REMITTANCE OF TAXES </option>
                        <option value="31"> PHILHEALTH REMITTANCE </option>
                        <option value="32"> PAG-IBIG REMITTANCE </option>
                        <option value="33"> REMITTANCE OF OTHER PAYABLES </option>
                    </select>
                </form>
            </div>
        </div>*@

    <div class="col-md-3">
        <div class="form-group">
            <label>DV #:</label>
            @Html.DropDownList("DvId", null, htmlAttributes: new { @class = "select2 form-select2", @id = "ddlBranches", onchange = "return get_sbu(this)" })
            @*<select asp-items="ViewBag.DvId" class="form-control select2"> </select>*@

        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>PAYEE :</label>
            @* <select asp-items="ViewBag.PayeeId" class="form-control select2"> </select>*@
            <input id="payee" class="form-control" readonly />
        </div>
    </div>
    <div class="col-md-3" name="hidden-panel1" id="hidden-panel1">
        <div class="form-group">
            <label>PO #:</label>
            <input id="po" class="form-control"/>
        </div>
    </div>
    <div class="col-md-3" name="hidden-panel2" id="hidden-panel2">
        <div class="form-group">
            <label>PROJECT ID:</label>
            <input id="po" class="form-control"/>
        </div>
    </div>


<div class="col-md-3">
    <label>DV DATE:</label>
    <input type="date" class="form-control" />
    <span class="text-danger"></span>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label>PARTRICULARS:</label>
        <input class="form-control" />
    </div>

</div>

    <div class="col-md-3" name="hidden-panel" id="hidden-panel">
        <div class="form-group">
            <label>INVOICE #:</label>
            <input class="form-control" />
        </div>
    </div>


<div class="row">
    <div class="filterable" hidden>

        <div class="row">
            <div class="col-md-2" name="hidden-panel" id="hidden-panel">
                <div class="form-group" >
                    <label>PO #: </label>
                    <input class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>INVOICE #:</label>
                    <input class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="2" hidden>
        <div class="row" >
            <div class="col-md-2">
                <div class="form-group">
                    <label>PROJECT ID: </label>
                    <input class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="3" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PROJECT ID: </label>
                    <input class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label># OF BILLING (FIRST,SECOND):</label>
                    <input class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="4" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="5" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="6" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="7" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="8" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="9" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="10" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>TRAVEL PERIOD: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>SO #: </label>
                    <input class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="11" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>SO #: </label>
                    <input class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="12" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>SO #: </label>
                    <input class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="13" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="14" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>ACCOUNT #: </label>
                    <input class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="15" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>ACCOUNT #: </label>
                    <input class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="16" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>ACCOUNT #: </label>
                    <input class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="17" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>TRAVEL PERIOD: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>SO #: </label>
                    <input class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="20" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="21" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="22" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="23" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="24" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="25" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="26" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="28" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="29" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="30" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="31" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="32" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>

    <div class="filterable" data-ref="33" hidden>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label>PERIOD COVERED: </label>
                    <input type="date" class="form-control" />
                </div>
            </div>
        </div>
    </div>
</div>

<hr />
<br />
<div class="row">
    <div class="col-md-2">
        <div class="form-group" style="margin-left: 120px">
            <label style="font-weight:bold;">GROSS AMOUNT: </label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <select asp-items="ViewBag.DeductionId" class="form-control select2"> </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <select asp-items="ViewBag.DeductionId" class="form-control select2"> </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <select asp-items="ViewBag.DeductionId" class="form-control select2"> </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <select asp-items="ViewBag.DeductionId" class="form-control select2"> </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <select asp-items="ViewBag.DeductionId" class="form-control select2"> </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <select asp-items="ViewBag.DeductionId" class="form-control select2"> </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <select asp-items="ViewBag.DeductionId" class="form-control select2"> </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="form-group" style="margin-left: 115px">
            <label style="font-weight:bold;">TOTAL DEDUCTIONS: </label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" readonly />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-2">
        <div class="form-group" style="margin-left: 120px">
            <label style="font-weight:bold;">NET AMOUNT: </label>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input class="form-control" type="number" onchange="setTwoNumberDecimal" min="0" max="12" placeholder="0.00" readonly />
        </div>
    </div>
</div>

<a class="btn btn-success btn-sm"> <i class="ace-icon fa fa-arrow-right"></i> Submit </a>
<br />
<<<<<<< HEAD
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
=======

<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" > </script> 
>>>>>>> d0ddc15e076ac1df8fef7e8d0883ff508e7c84f4
<script>

    $(document).ready(function () {
        $('.select2').select2();
    });

    $(document).ready(function() {
        $("#CategoryId").change(function() {
            if ($("#CategoryId").val() == 1) {
                $("#hidden-panel").show()
                $("#hidden-panel1").show()
            } else {
                $("#hidden-panel").hide()
                $("#hidden-panel1").hide()
            }
            if ($("#CategoryId").val() == 2) {
                $("#hidden-panel2").show()
            } else {
                $("#hidden-panel2").hide()
            }
        })
    }); 

    $(document).ready(function () {
        $('.filter').change(function () {
            $('.filterable').each(function () {
                if ($(this).data('ref') != $('.filter').val() && $('.filter').val() != -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });

        get_sbu();
    function get_sbu() {
        var selected_val = $('#ddlBranches').find(":selected").attr('value');
        $.ajax({
            type: "POST",
            url: '@Url.Action("selectAT", "DV")',
            data: "id=" + selected_val,
            success: function (data) {
                if (data.length > 0) {
                    $('#payee').val(data[0].payee);
                }
                else {
                    $('#payee').val('');
                }
            }
        });
    }


    function setTwoNumberDecimal(event) {
        this.value = parseFloat(this.value).toFixed(2);
    }
<<<<<<< HEAD


    $(document).ready(function() {
        $("#CategoryId").change(function() {
            if ($("#hidden-panel").val() == 1) {
                $("#hidden-panel").show()
            } else {
                $("#hidden-panel").hide()
            }
        })
    });


=======
>>>>>>> d0ddc15e076ac1df8fef7e8d0883ff508e7c84f4
</script>