
@model IEnumerable<fmis.Models.Accounting.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3 class="grey lighter smaller">
    Index of Payment
</h3>
<hr>
<div class="row">
    @* <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>SELECT CATEGORY:</label>
                @Html.DropDownList("IndexOfPaymentId", null, htmlAttributes: new { @class = "indexDropdown form-control", @id = "ddlBranches", onchange = "return get_sbu(this)" })
            </div>
        </div>
    *@

    <div class="col-md-3">
        <form>
            <select class="filter form-control">
                <option value="-1">SELECT CATEGORY</option>
                <option value="1">SUPPLIER </option>
                <option value="2">INFASTRUCTURE</option>
                <option value="3">SALRIES & WAGES</option>
                <option value="4">TRAVELLING EXPENSES</option>
                <option value="5">COMMUNICATION</option>
                <option value="6">ELECTRICITY</option>
                <option value="7">WATER</option>
                <option value="8">HONORARIA</option>
                <option value="9">RELEASE OF GUARANTY (SUPPLIES)</option>
                <option value="10">RELEASE OF GUARANTY (INFRA)</option>
                <option value="11">SUBSIDY ASSITANCE</option>
                <option value="12">FUNDS TRANSFER</option>
                <option value="13">REMITTANCES</option>
                <option value="14">CASH ADVANCES</option>
                <option value="15">REPLENISHMENT OF PETTY CASH</option>
            </select>
        </form>
    </div>
</div>
<br />
<div class="filterable" data-ref="1" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>PARTRICULARS:</label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>PO #: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>PO DATE:</label>
                <input type="date" class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>DV #: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>INVOICE #:</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="filterable" data-ref="2" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>PROJECT NAME:</label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>PERIOD COVERED: </label>
                <input type="date" class="form-control" />
            </div>
            <div class="form-group">
                <label>NO. OF BILLING:</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2" style="margin-top: 75px;">
            <div class="form-group">
                <label>DV #: </label>
                <input class="form-control" />
            </div>
        </div>
    </div>
</div>

<div class="filterable" data-ref="3" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>PARTICULARS: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>PERIOD COVERED: </label>
                <input type="date" class="form-control" />
            </div>
            <div class="form-group">
                <label>JOB STATUS:</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2" style="margin-top: 75px;">
            <div class="form-group">
                <label>DV #: </label>
                <input class="form-control" />
            </div>
        </div>
    </div>
</div>

<div class="filterable" data-ref="4" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>PERIOD COVERED: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>SO #: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>DV #:</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="filterable" data-ref="5" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>PERIOD COVERED: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>ACCOUNT #: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>DV #:</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="filterable" data-ref="6" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>PERIOD COVERED: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>ACCOUNT #: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>DV #:</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="filterable" data-ref="7" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>PERIOD COVERED: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>ACCOUNT #: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>DV #:</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="filterable" data-ref="8" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>PERIOD COVERED: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>ACCOUNT #: </label>
                <input class="form-control" />
            </div>
            <div class="form-group">
                <label>DV #:</label>
                <input class="form-control" />
                <span class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

<div class="filterable" data-ref="9" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>PO #: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>DV #: </label>
                <input class="form-control" />
            </div>
        </div>
    </div>
</div>

<div class="filterable" data-ref="10" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>PROJECT NAME: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>DV #: </label>
                <input class="form-control" />
            </div>
        </div>
    </div>
</div>

<div class="filterable" data-ref="11" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>PERIOD COVERED: </label>
                <input type="date" class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>DV #: </label>
                <input class="form-control" />
            </div>
        </div>
    </div>
</div>

<div class="filterable" data-ref="12" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>PROJECT NAME: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>DV #: </label>
                <input class="form-control" />
            </div>
        </div>
    </div>
</div>

<div class="filterable" data-ref="13" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>PERIOD COVERED: </label>
                <input type="date" class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>DV #: </label>
                <input class="form-control" />
            </div>
        </div>
    </div>
</div>

<div class="filterable" data-ref="14" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>PERIOD COVERED: </label>
                <input type="date" class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>DV #: </label>
                <input class="form-control" />
            </div>
        </div>
    </div>
</div>


<div class="filterable" data-ref="15" hidden>
    <div class="row">
        <div class="col-md-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>PAYEE: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>PO #: </label>
                <input class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>DV #: </label>
                <input class="form-control" />
            </div>
        </div>
    </div>
</div>
<hr />
<h3 class="grey lighter smaller">
    DEDUCTIONS
</h3>
<br />
<div class="row">
    <div class="col-md-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Liquidated Damages: </label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>Receivable/Overpayment: </label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>Percentage Tax 1% - 3%: </label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold;">GROSS AMOUNT: </label>
            <input class="form-control" />
        </div>
    </div>

    <div class="col-md-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>VAT 5%: </label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>EWT 2%: </label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>EWT 1%:</label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label style="font-weight:bold;">NET AMOUNT: </label>
            <input class="form-control" />
        </div>
    </div>

    <div class="col-md-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>EWT 10%: </label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>EWT 5%: </label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>With Holding Tax - Employee: </label>
            <input class="form-control" />
        </div>
    </div>
    <div class="col-md-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Pag-Ibig: </label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>PHIC: </label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>COOP: </label>
            <input class="form-control" />
        </div>
    </div>
    <div class="col-md-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>CFI: </label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>Others: </label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>Disallowances: </label>
            <input class="form-control" />
        </div>
    </div>
    <div class="col-md-2" style="margin-top: 75px">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label>Recoupment: </label>
            <input class="form-control" />
        </div>
        <div class="form-group">
            <label>Retention of Advance payment: </label>
            <input class="form-control" />
        </div>
 
    </div>
</div>

    <a class="btn btn-success btn-sm"> <i class="ace-icon fa fa-arrow-circle-right"></i> Submit </a>
    <br />

<script>
    $(document).ready(function () {
        $('.indexDropdown').select2();
    });


    $(document).ready(function () {
        $('.filter').change(function () {
            $('.filterable').each(function () {
                if ($(this).data('ref') != $('.filter').val() && $('.filter').val() != -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
</script>