@model IEnumerable<fmis.Models.Uacs>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="grey lighter smaller">
    Export Excel
</h3>
<br />
<h4>Grand Total</h4>

<table style="font-size: 8pt;" class="table" border="1">
    <thead>
        <tr>
            <th>UACS</th>
            <th>ACCOUNT TITLE</th>
            <th>FUND SOURCE</th>
            <th>PROGRAM</th>
            <th> ALLOTMENTS</th>
            <th> REALIGNMENT</th>
            <th> OBLIGATIONS</th>
            <th>BALANCE</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>PREXC</th>
            <th>CODE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
         <tr>
            <td>@Html.DisplayFor(modelItem => item.Expense_code)</td>
            <td>@Html.DisplayFor(modelItem => item.Account_title)</td>
            <td></td>
            <td></td>
            <td>@ViewBag.sumfunds</td>
            <td></td>
            <td></td>
            <td>@ViewBag.totalbudget</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
         }
    </tbody>
</table>

<hr>
<h5>FmIS Reports</h5>
<table>
    <tbody>
        <tr>
            <td>Format</td>
            <td>
                <select name="format" class="form-control" disabled="">
                    <option value="excel" selected="">EXCEL</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Date From</td>
            <td><input type="date" name="date_from" required="" class="form-control"></td>
        </tr>
        <tr>
            <td>Date To</td>
            <td><input type="date" name="date_to" required="" class="form-control"></td>
        </tr>
        <tr>
        </tr>
    </tbody>
</table>
<br />
<form  asp-action="ExportSummaryReports" asp-controller="SummaryReport" method="post">
    <button type="submit" class="btn btn-success btn-sm">  <span class="glyphicon glyphicon-download-alt"></span> Download</button>
</form>

