@using System.Text.Json;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@{
    ViewData["Title"] = "Handsontable";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string time = DateTime.Now.ToString();
}

@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div id="app">
    <handsontable-content></handsontable-content>
</div>

<script src="~/vue/dist/app.js?version=@time"></script>

