@model fmis.Models.Ors_head



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<center>
    <h2>Create New</h2>
</center>
<hr />
<div class="container">
    <center>
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Head_name" class="control-label">Head_name</label>
                    <input asp-for="Head_name" class="form-control" required />
                    <span asp-validation-for="Head_name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Position" class="control-label">Position</label>
                    <input asp-for="Position" class="form-control" required />
                    <span asp-validation-for="Position" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success btn-lg" /> | <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </center>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
