@model fmis.Models.Ors_head



<br />
<center>
    <h4>Are you sure you want to delete this?</h4>
</center>
<div class="container">
    <div class="col-md-6">
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">FullName</th>
                    <th scope="col">Division</th>
                    <th scope="col">Section</th>
                    <th scope="col">Designation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@ViewBag.pi_userid_existing.full_name</td>
                    <td>@ViewBag.pi_userid_existing.division</td>
                    <td>@ViewBag.pi_userid_existing.section</td>
                    <td>@ViewBag.pi_userid_existing.designation</td>
                </tr>
            </tbody>
        </table>

        <center>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-sm btn-danger" /> |
                <a class="btn btn-sm btn-default" asp-action="" Index">Back to List</a>
                <hr />
            </form>
        </center>
    </div>
</div>
<br />
