@model fmis.Models.Ors_head



<button type="button" style="margin-right:15px; margin-top: 10px;" class="close" data-dismiss="modal">×</button>
<center><h3>Update new Ors Head</h3></center>
<hr />

<div class="container">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="id" value="@Html.DisplayFor(model => model.Id)" />
            <div class="form-group">
                <label class="control-label"> FullName </label>
                <select class="form-control select2" asp-for="pi_userid" asp-items="ViewBag.pi_userid">
                    <option value="@ViewBag.pi_userid_existing.userid">@ViewBag.pi_userid_existing.full_name</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-sm btn-success" />|
                <a class="btn btn-sm btn-default" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<script>
    $(".select2").select2({
        placeholder: "Select Head Name",
    });
</script>
