@using Microsoft.AspNetCore.Identity

<style>
    /* IPHONE SE */
    @@media (min-width: 375px) and (max-width: 667px) {
        .login-logout {
            position: absolute;
            left: 205px;
        }
    }
</style>

<ul class="nav ace-nav">
    <li class="active" style="font-size: 15pt; margin-right : 15px">
        @if (User.IsInRole("budget_admin"))
        {
            <a>CY: @User.FindFirstValue("YearlyRef")</a>
        }
    </li>
        <a id="logout-link" asp-action="Logout" asp-controller="Account">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
        </a>
</ul>

@*<li class="login-logout light-blue dropdown-modal pull-right">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
        <img class="nav-user-photo" src="~/assets/images/doh.png" alt="Amal's Photo" />
        <span class="user-info">
            <small>Welcome,</small>
            @User.FindFirstValue(ClaimTypes.Name)
        </span>

        <i class="ace-icon fa fa-caret-down"></i>
    </a>
    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
        <li>
            <a href="#">
                <i class="ace-icon fa fa-cog"></i>
                Settings
            </a>
        </li>

        <li>
            <a href="profile.html">
                <i class="ace-icon fa fa-user"></i>
                Profile
            </a>
        </li>
        <li class="divider"></li>
        <form method="post" asp-controller="Account" asp-action="Logout">
        <button type="submit" style="width:auto"
                class="nav-link btn btn-link py-0">
            Logout @User.FindFirstValue(ClaimTypes.Name)
        </button>
    </form>
    </ul>
</li>*@