@using Microsoft.AspNetCore.Identity

<li class="light-blue dropdown-modal">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
        <img class="nav-user-photo" src="~/assets/images/doh.png" alt="Amal's Photo" />
        <span class="user-info">
            <small>Welcome,</small>
            @User.FindFirstValue(ClaimTypes.Name)
        </span>

        <i class="ace-icon fa fa-caret-down"></i>
    </a>
    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
        <li>
            <a href="#">
                <i class="ace-icon fa fa-cog"></i>
                Settings
            </a>
        </li>

        <li>
            <a href="profile.html">
                <i class="ace-icon fa fa-user"></i>
                Profile
            </a>
        </li>
        <li class="divider"></li>
        <form method="post" asp-controller="Account" asp-action="Logout">
        <button type="submit" style="width:auto"
                class="nav-link btn btn-link py-0">
            Logout @User.FindFirstValue(ClaimTypes.Name)
        </button>
    </form>
    </ul>
</li>