<li class="grey dropdown-modal">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-tasks"></i>
        <span class="badge badge-grey">4</span>
    </a>

    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-check"></i>
            4 Tasks to complete
        </li>

        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar">
                <li style="background-color: lightcyan;">
                    <a href="#" class="clearfix">
                        <img src="~/assets/images/doh.png" class="msg-photo" alt="Alex's Avatar" />
                        <span class="msg-body">
                            <span class="msg-title">
                                <span class="blue">Rusel T.Tayong:</span>
                                from <span class="green">Information and Communication Technology Unit(MSD)</span> <span class="red">utilized</span> the amount of <b>20,000</b> from <span class="orange">Budget Allotment</span>
                            </span>

                            <span class="msg-time">
                                <i class="ace-icon fa fa-clock-o"></i>
                                <span>a moment ago</span>
                            </span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clearfix">
                        <img src="~/assets/images/doh.png" class="msg-photo" alt="Alex's Avatar" />
                        <span class="msg-body">
                            <span class="msg-title">
                                <span class="blue">Rusel T.Tayong:</span>
                                from <span class="green">Information and Communication Technology Unit(MSD)</span> <span class="red">utilized</span> the amount of <b>20,000</b> from <span class="orange">Budget Allotment</span>
                            </span>

                            <span class="msg-time">
                                <i class="ace-icon fa fa-clock-o"></i>
                                <span>a moment ago</span>
                            </span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clearfix">
                        <img src="~/assets/images/doh.png" class="msg-photo" alt="Alex's Avatar" />
                        <span class="msg-body">
                            <span class="msg-title">
                                <span class="blue">Rusel T.Tayong:</span>
                                from <span class="green">Information and Communication Technology Unit(MSD)</span> <span class="red">utilized</span> the amount of <b>20,000</b> from <span class="orange">Budget Allotment</span>
                            </span>

                            <span class="msg-time">
                                <i class="ace-icon fa fa-clock-o"></i>
                                <span>a moment ago</span>
                            </span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clearfix">
                        <img src="~/assets/images/doh.png" class="msg-photo" alt="Alex's Avatar" />
                        <span class="msg-body">
                            <span class="msg-title">
                                <span class="blue">Rusel T.Tayong:</span>
                                from <span class="green">Information and Communication Technology Unit(MSD)</span> <span class="red">utilized</span> the amount of <b>20,000</b> from <span class="orange">Budget Allotment</span>
                            </span>

                            <span class="msg-time">
                                <i class="ace-icon fa fa-clock-o"></i>
                                <span>a moment ago</span>
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown-footer">
            <a href="#">
                See tasks with details
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>

<li class="purple dropdown-modal">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
        <span class="badge badge-important">8</span>
    </a>

    <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-exclamation-triangle"></i>
            8 Notifications
        </li>

        <li class="dropdown-content">
            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                <li style="background-color: lightcyan;">
                    <a href="#" class="clearfix">
                        <img src="~/assets/images/doh.png" class="msg-photo" alt="Alex's Avatar" />
                        <span class="msg-body">
                            <span class="msg-title">
                                <span class="blue">Rusel T.Tayong:</span>
                                from <span class="green">Information and Communication Technology Unit(MSD)</span> <span class="red">realignment</span> the amount of <b>20,000</b> from <span class="orange">Fund Source</span>
                            </span>

                            <span class="msg-time">
                                <i class="ace-icon fa fa-clock-o"></i>
                                <span>a moment ago</span>
                            </span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clearfix">
                        <img src="~/assets/images/doh.png" class="msg-photo" alt="Alex's Avatar" />
                        <span class="msg-body">
                            <span class="msg-title">
                                <span class="blue">Rusel T.Tayong:</span>
                                from <span class="green">Information and Communication Technology Unit(MSD)</span> <span class="red">realignment</span> the amount of <b>20,000</b> from <span class="orange">Sub-Allotment</span>
                            </span>

                            <span class="msg-time">
                                <i class="ace-icon fa fa-clock-o"></i>
                                <span>a moment ago</span>
                            </span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clearfix">
                        <img src="~/assets/images/doh.png" class="msg-photo" alt="Alex's Avatar" />
                        <span class="msg-body">
                            <span class="msg-title">
                                <span class="blue">Rusel T.Tayong:</span>
                                from <span class="green">Information and Communication Technology Unit(MSD)</span> <span class="red">realignment</span> the amount of <b>20,000</b> from <span class="orange">Fund Source</span>
                            </span>

                            <span class="msg-time">
                                <i class="ace-icon fa fa-clock-o"></i>
                                <span>a moment ago</span>
                            </span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#" class="clearfix">
                        <img src="~/assets/images/doh.png" class="msg-photo" alt="Alex's Avatar" />
                        <span class="msg-body">
                            <span class="msg-title">
                                <span class="blue">Rusel T.Tayong:</span>
                                from <span class="green">Information and Communication Technology Unit(MSD)</span> <span class="red">realignment</span> the amount of <b>20,000</b> from <span class="orange">Fund Source</span>
                            </span>

                            <span class="msg-time">
                                <i class="ace-icon fa fa-clock-o"></i>
                                <span>a moment ago</span>
                            </span>
                        </span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown-footer">
            <a href="#">
                See all notifications
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>

<li class="green dropdown-modal" onclick="notificationList('obligated');">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
        <span class="badge badge-success">5</span>
    </a>

    <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header">
            <i class="ace-icon fa fa-envelope-o"></i>
            5 Message
        </li>

        <li class="dropdown-content" >
            <ul class="dropdown-menu dropdown-navbar" id="obligation_notification_list">
            </ul>
        </li>

        <li class="dropdown-footer">
            <a href="inbox.html">
                See all messages
                <i class="ace-icon fa fa-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>