@model IEnumerable<fmis.Models.Prexc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />

<style>
    .search-result-custom {
        color: #ff0000;
        font-weight: 900;
    }

    .htCore tbody tr td, .htCore thead tr th, body {
    }


    .htCore thead tr th {
        color: #fff;
        font-size: 13px;
        background-color: #2ECC71
    }
</style>

<input type="hidden" class="prexc" value="@ViewBag.temp">
<input id="search_field2" style="float: left" type="search" placeholder="Search" />
<br />
<br />
<div id="example" class="hot"></div>
<br />
<div class="controls">
    <button id="export-file">Download CSV</button>
</div>


<script>

    document.onkeydown = function (e) {
        if (e.ctrlKey && e.keyCode === 83) {
            $('#loading_modal').modal('show');

            var json = [];
            $.each(hot.getSourceData(), function () {
                json.push({ Head_name: this[0], Position: this[1]} );
            });

            $.ajax({
                type: 'POST',
                url: '@Url.Action("savePrexc", "Prexc")',
                dataType: "JSON",
                data: { data: json },
                success: function (output) {
                    $('#loading_modal').modal('hide');
                    Lobibox.notify("success", {
                        msg: "Successfully Saved...",
                        sound: false
                    });
                    console.log(output);
                }
            });

            return false;
        }
    };


    var prexc = $.parseJSON($(".prexc").val());

    const data = [];
    var counter = 0;
    $.each(prexc, function () {
        data[counter] = [this.Pap_title, this.Pap_code1, this.Pap_code2]
        counter++;
    })
    const searchField = document.querySelector('#search_field2');
    const button = document.querySelector('#export-file');
    const container = document.getElementById('example');
    const hot = new Handsontable(container, {
        data: data,
        width: '100%',
        colWidths: 100,
        rowHeaders: true,
        colHeaders: true,
        search: {
            searchResultClass: 'search-result-custom'
        },
        contextMenu: [['Print ORS'],'row_above', 'row_below', 'remove_row', ['Add Obligated Amount']],
        height: 'auto',
        licenseKey: 'non-commercial-and-evaluation', // for non-commercial use only
        dataSchema: {Head_name: null, Position: null,},
        columns: [

            { data: 'Pap_title', type: 'text' },
            { data: 'Pap_code1', type: 'text' },
            { data: 'Pap_code2', type: 'text' },
        ]
    });

    Handsontable.dom.addEvent(searchField, 'keyup', function (event) {
        const search = hot.getPlugin('search');
        const queryResult = search.query(this.value);

        console.log(queryResult);
        hot.render();
    });

    const exportPlugin = hot.getPlugin('exportFile');

    button.addEventListener('click', () => {
        exportPlugin.downloadFile('csv', {
            bom: false,
            columnDelimiter: ',',
            columnHeaders: false,
            exportHiddenColumns: true,
            exportHiddenRows: true,
            fileExtension: 'csv',
            filename: 'Handsontable-CSV-file_[YYYY]-[MM]-[DD]',
            mimeType: 'text/csv',
            rowDelimiter: '\r\n',
            rowHeaders: true
        });
    });

    hot.addHook('afterChange', function (changes, src) {
        [
            [row, col, oldVal, newVal]
        ] = changes;
        if (hot.propToCol(col) === 3 && newVal.slice(0, 1) !== 'Y') {
            console.log(newVal);
            hot.setDataAtCell(row, hot.propToCol(col), 'Y'  + newVal.slice(1, newVal.length))
        }
    })

    hot.updateSettings({
        colHeaders: ['Pap_tile', 'Pap_code1', 'Pap_code2'],
        cell: [
            {
                row: 0,
                col: 0,
                className: 'custom-cell',
            },
        ],
        columns: [
            {
               // 1st cell is simple text, no special options here
            },

            {
                // 2nd cell is simple text, no special options here
            },

            {
                // 2nd cell is simple text, no special options here
            },

        ]
    });

    var tableData = JSON.stringify(hot.getSourceData());
    console.log(hot.getSourceData());


</script>
@*<style>

        td.custom-cell {
            color: #fff;
            background-color: #37bc6c;
        }

        .handsontable th:nth-child(0) {
            background-color: aquamarine;
            font-weight: bold;
        }


        .custom-table tdata th:nth-child(even),
        .custom-table tbody tr:nth-child(odd) th {
            background-color: #d7f1e1;
        }
    </style>*@
