@model fmis.Models.John.FundSource

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="Create">
    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Create Budget Source
        <div class="pull-right">
            <div class="btn-group">
                <input type="submit" value="Create" class="btn btn-success btn-xs" />
                <a asp-action="Index" class="btn btn-danger btn-xs">Exit</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PrexcCode" class="control-label"></label>
                <input asp-for="PrexcCode" class="form-control" required />
                <span asp-validation-for="PrexcCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FundSourceTitle" class="control-label"></label>
                <input asp-for="FundSourceTitle" class="form-control" required />
                <span asp-validation-for="FundSourceTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" required></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FundSourceTitleCode" class="control-label"></label>
                <input asp-for="FundSourceTitleCode" class="form-control" required />
                <span asp-validation-for="FundSourceTitleCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Respo" class="control-label"></label>
                <input asp-for="Respo" class="form-control" required />
                <span asp-validation-for="Respo" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>



<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />

<style>
    .search-result-custom {
        color: #ff0000;
        font-weight: 900;
    }

    .htCore tbody tr td, .htCore thead tr th, body {
    }


    .htCore thead tr th {
        color: #fff;
        font-size: 13px;
        background-color: #2ECC71
    }
</style>


<input type="hidden" class="obligation" value="@ViewBag.temp">
<input id="search_field2" style="float: left" type="search" placeholder="Search" />
<br />
<br />
<div id="example" class="hot"></div>
<br />
<div class="controls">
    <button id="export-file">Download CSV</button>
</div>


<script>


    var obligation = $.parseJSON($(".obligation").val());

    const data = [];
    var counter = 0;
    $.each(obligation, function () {
        data[counter] = [this.Date, this.Dv, this.Pr_no, this.Po_no, this.Payee, this.Address, this.Particulars, this.Ors_no, this.Fund_source, this.Gross, this.Created_by, this.Date_recieved, this.Time_recieved, this.Date_released, this.Time_released]
        counter++;
    })
    const searchField = document.querySelector('#search_field2');
    const button = document.querySelector('#export-file');
    const container = document.getElementById('example');
    const hot = new Handsontable(container, {
        data: data,
        width: '100%',
        colWidths: 100,
        rowHeaders: true,
        colHeaders: true,
        search: {
            searchResultClass: 'search-result-custom'
        },
        contextMenu: [['Print ORS'], 'row_above', 'row_below', 'remove_row', ['Add Obligated Amount']],
        height: 'auto',
        licenseKey: 'non-commercial-and-evaluation', // for non-commercial use only
        dataSchema: { Date: null, Dv: null, Pr_no: null, Po_no: null, Payee: null, Address: null, Particulars: null, Ors_no: null, Fund_source: null, Gross: null, Created_by: null, Date_recieved: null, Time_recieved: null, Date_released: null, Time_released: null},
        columns: [
            { data: 'Date ', type: 'date' },
            { data: 'Dv', type: 'text' },
            { data: 'Pr_no', type: 'text' },
            { data: 'Po_no', type: 'text' },
            { data: 'Payee', type: 'text' },
            { data: 'Address', type: 'text' },
            { data: 'Particulars', type: 'text' },
            { data: 'Ors_no', type: 'numeric' },
            { data: 'Fund_source', type: 'text' },
            { data: 'Gross', type: 'text' },
            { data: 'Created_by', type: 'text' },
            { data: 'Date_recieved', type: 'text' },
            { data: 'Time_recieved', type: 'text' },
            { data: 'Date_released', type: 'text' },
            { data: 'Time_released', type: 'text' }

        ]
    });

    Handsontable.dom.addEvent(searchField, 'keyup', function (event) {
        const search = hot.getPlugin('search');
        const queryResult = search.query(this.value);

        console.log(queryResult);
        hot.render();
    });

    const exportPlugin = hot.getPlugin('exportFile');

    button.addEventListener('click', () => {
        exportPlugin.downloadFile('csv', {
            bom: false,
            columnDelimiter: ',',
            columnHeaders: true,
            exportHiddenColumns: true,
            exportHiddenRows: true,
            fileExtension: 'csv',
            filename: 'Handsontable-CSV-file_[YYYY]-[MM]-[DD]',
            mimeType: 'text/csv',
            rowDelimiter: '\r\n',
            rowHeaders: true
        });
    });

    hot.addHook('afterChange', function (changes, src) {
        [
            [row, col, oldVal, newVal]
        ] = changes;
        if (hot.propToCol(col) === 3 && newVal.slice(0, 1) !== 'Y') {
            console.log(newVal);
            hot.setDataAtCell(row, hot.propToCol(col), 'Y' + newVal.slice(1, newVal.length))
        }
    })

    hot.updateSettings({
        colHeaders: ['Date', 'Dv', 'Pr_no', 'Po_no', 'Payee', 'Address', 'Particulars', 'Ors_no', 'Fund_source', 'Gross', 'Created_by', 'Date_recieved', 'Time_recieved', 'Date_released', 'Time_released'],
        cell: [
            {
                row: 0,
                col: 0,
                className: 'custom-cell',
            },
        ],
        columns: [
            {
                type: 'date',
                dateFormat: 'MM/DD/YYYY',
            },
            {
                // 2nd cell is simple text, no special options here
            },
            {

            },
            {

            },
            {

            },
            {

            },
            {

            },

            {

            },

            {
                type: 'dropdown',
                source: ['Rusel', 'John', 'Carlo', 'Arnel', 'Amalio']
            },

            {
            },

            {
            },

            {
                type: 'date',
                dateFormat: 'MM/DD/YYYY',
            },

            {
                type: 'time',
                timeFormat: 'h:mm:ss a',
                correctFormat: true
            },

            {
                type: 'date',
                dateFormat: 'MM/DD/YYYY',
            },

            {
                type: 'time',
                timeFormat: 'h:mm:ss a',
                correctFormat: true
            },
        ]
    });

    var tableData = JSON.stringify(hot.getSourceData());
    console.log(hot.getSourceData());


</script>