@model fmis.Models.John.FundSource

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Fund Source</h2>
<hr />
<form asp-action="Edit" method="post">
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-success btn-sm" /> | <a class=" btn btn-primary btn-sm" asp-action="Index">Back to List</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FundSourceId" />
            <input type="hidden" asp-for="Budget_allotmentBudgetAllotmentId" />

            @*            <div class="form-group">
            <label asp-for="FundSourceId" class="control-label"></label>
            <div>@Html.DisplayFor(model => model.FundSourceId)</div>
        </div>*@

            <div class="form-group">
                <label asp-for="Prexc" class="control-label"></label>
                <select asp-for="Id" class="form-control" asp-items="ViewBag.Id">
                    <option value="">-- Select Prexc --</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="FundSourceTitle" class="control-label"></label>
                <input asp-for="FundSourceTitle" class="form-control" />
                <span asp-validation-for="FundSourceTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="FundSourceTitleCode" class="control-label"></label>
                <input asp-for="FundSourceTitleCode" class="form-control" />
                <span asp-validation-for="FundSourceTitleCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Respo" class="control-label"></label>
                <input asp-for="Respo" class="form-control" />
                <span asp-validation-for="Respo" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
