
@{
    ViewData["Title"] = "Upload Obligation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UploadObligation</h2>

<div>
    <form asp-action="ImportObligations"
          enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;"
          method="post">
        <dl>
            <dt>
                <label for="FileUpload_FormFile">File</label>
            </dt>
            <dd>
                <input id="FileUpload_FormFile" type="file"
                       name="FileUpload.FormFile" />
            </dd>
        </dl>

        <input class="btn" type="submit" value="Upload" />

        <div style="margin-top:15px">
            <output name="result"></output>
        </div>
    </form>
</div>
<script>
    async function AJAXSubmit(oFormElement) {
        var resultElement = oFormElement.elements.namedItem("result");
        const formData = new FormData(oFormElement);

        try {
            const response = await fetch(oFormElement.action, {
                method: 'POST',
                body: formData
            });

            @*if (response.ok) {
                window.location.href = '/';
            }*@

            resultElement.value = 'Result: ' + response.status + ' | ' +
                response.statusText;
            return false;
        } catch (error) {
            console.error('Error:', error);
            return false;
        }
        return false;
    }
</script>