@model fmis.Models.silver.BudgetAllotment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="grey lighter smaller">
    Create Budget Allotment
</h3>
<hr />
<div class="row">
    <div class="col-xs-12">
        <form asp-action="Create">
            <div class="col-xs-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Yearly Reference:</label>
                    <select class="form-control" asp-for="YearlyReferenceId" asp-items="ViewBag.YearlyReferenceId"></select>
                </div>
                <div class="form-group">
                    <label>Allotment Series:</label>
                    <input asp-for="Allotment_series" class="form-control" />
                    <span asp-validation-for="Allotment_series" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Allotment Title:</label>
                    <input asp-for="Allotment_title" class="form-control" />
                    <span asp-validation-for="Allotment_title" class="text-danger"></span>
                </div>
                 <div class="form-group">
                    <label>Allotment Class: </label>
                     <select class="form-control"  asp-items="ViewBag.AllotmentClass"></select>
                </div>
            </div>
            <br />
            <div class="form-group" style="margin-left:13px;">
                <input type="submit" value="Create" class="btn btn-success btn-sm" />|
                <a class="btn btn-default btn-sm" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
