@model fmis.Models.silver.BudgetAllotment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="grey lighter smaller">
    Create Budget Allotment
</h3>
<hr />
<div class="row">
    <div class="col-xs-12">
        <form asp-action="Create">
            <div class="col-xs-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label>Yearly Reference:</label>
                    <select class="form-control" asp-for="YearlyReferenceId" asp-items="ViewBag.YearlyReferenceId"></select>
                </div>
                <div class="form-group">
                    <label>Allotment Series:</label>
                    <input asp-for="Allotment_series" class="form-control" />
                    <span asp-validation-for="Allotment_series" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Allotment Title:</label>
                    <input asp-for="Allotment_title" id="desc" class="form-control"  />
                    <span asp-validation-for="Allotment_title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Allotment Class:</label>
                    @Html.DropDownList("PrexcId", null, htmlAttributes: new { @class = "js-example-basic-single form-control", @id = "ddlBranches", onchange = "return get_sbu(this)" })
                </div>
            </div>
            <br />
            <div class="form-group" style="margin-left:13px;">
                <input type="submit" value="Create" class="btn btn-success btn-sm" />|
                <a class="btn btn-default btn-sm" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    get_sbu()

    function get_sbu() {
        var selected_val = $('#ddlBranches').find(":selected").attr('value');
        $.ajax({
            type: "POST",
            url: '@Url.Action("selectAT", "BudgetAllotment")',
            data: "id=" + selected_val,
            success: function (data) {
                if (data.length > 0) {
                    $('#desc').val(data[0].desc);
                }
                else {
                    $('#desc').val('');
                }
            }
        });
    }
</script>



