@model fmis.Models.silver.BudgetAllotment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="red smaller">
</h3>
<div class="alert alert-danger">
    <h5>
        Are you sure you want to delete?
    </h5>
</div>
<hr />
<div>
    <div class="col-xs-12">
        <h6>
            Allotment Series : <b>@Html.DisplayFor(model => model.Allotment_series)</b>
        </h6>
        <h6>
            Allotment Title:  <b>@Html.DisplayFor(model => model.Allotment_title)</b>
        </h6>
        <h6>
            Allotment Code:  <b>@Html.DisplayFor(model => model.Allotment_code)</b>
        </h6>
        <hr />
        <form asp-action="Delete">
            <input type="hidden" asp-for="BudgetAllotmentId" />
            <input type="submit" value="Delete" class="btn btn-danger btn-sm" /> |
            <a class="btn btn-default btn-sm" asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
