@model IEnumerable<fmis.Models.Uacs>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />


<style>
   

    .handsontable th:nth-child(0) {
        background-color: aquamarine;
        font-weight: bold;
    }


    .custom-table tdata th:nth-child(even),
    .custom-table tbody tr:nth-child(odd) th {
        background-color: #d7f1e1;
    }

    .uacs {

        margin-right: 200px;
    }

    .htCore thead tr th {
        color: #fff;
        background-color: #2ECC71
    }
</style>

    <input type="hidden" class="uacs" value="@ViewBag.temp">
    <input id="search_field2" type="search" placeholder="Search" hidden>
    <br />
    <br />
    <table id="example" class="hot" style="margin-left:50px;"></table>

    <br />
    <div class="controls" hidden>
        <button id="export-file">Download CSV bbbb</button>
    </div>



<script>

    document.onkeydown = function (e) {
        if (e.ctrlKey && e.keyCode === 83) {
            $('#loading_modal').modal('show');

            var json = [];
            $.each(hot.getData(), function () {
                json.push({ Account_title: this[0], Expense_code: this[1] });
            });

         

            $.ajax({
                type: 'POST',
                url: '@Url.Action("saveUacs", "Uacs")',
                dataType: "JSON",
                data: { data: json },
                success: function (output) {
                    $('#loading_modal').modal('hide');
                    Lobibox.notify("success", {
                        msg: "Successfully Saved...",
                        sound: false
                    });
                    console.log(output);

                }
            });

            return false;
        }
    };

    var uacs = $.parseJSON($(".uacs").val());

    const data = [];
    var counter = 0;
    $.each(uacs, function () {
        data[counter] = [this.Account_title, this.Expense_code,]
        counter++;
    });
    const searchField = document.querySelector('#search_field2');
    const button = document.querySelector('#export-file');
    const container = document.getElementById('example');
    const hot = new Handsontable(container, {
        data: data,
        width: '200%',
        colWidths: 550,
        rowHeaders: true,
        colHeaders: true,
        search: {
            searchResultClass: 'search-result-custom'
        },
        contextMenu: ['row_above', 'row_below', 'remove_row', ['Add Obligated Amount']],
        height: 'auto',
        licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
    });



    Handsontable.dom.addEvent(searchField, 'keyup', function (event) {
        const search = hot.getPlugin('search');
        const queryResult = search.query(this.value);

        console.log(queryResult);
        hot.render();
    });

    const exportPlugin = hot.getPlugin('exportFile');

    button.addEventListener('click', () => {
        exportPlugin.downloadFile('csv', {
            bom: false,
            columnDelimiter: ',',
            columnHeaders: false,
            exportHiddenColumns: true,
            exportHiddenRows: true,
            fileExtension: 'csv',
            filename: 'Handsontable-CSV-file_[YYYY]-[MM]-[DD]',
            mimeType: 'text/csv',
            rowDelimiter: '\r\n',
            rowHeaders: true
        });
    });

    hot.addHook('afterChange', function (changes, src) {
        [
            [row, col, oldVal, newVal]
        ] = changes;
        if (hot.propToCol(col) === 3 && newVal.slice(0, 1) !== 'Y') {
            console.log(newVal);
            hot.setDataAtCell(row, hot.propToCol(col), 'Y' + newVal.slice(1, newVal.length))
        }
    })

    hot.updateSettings({
        colHeaders: ['Account Title' , 'UACS Expense Code'],
        cell: [
            {
                row: 0,
                col: 0,
                className: 'custom-cell',
            },
        ],
        columns: [
            {

            },
            {
                // 2nd cell is simple text, no special options here
            },

        ]
    });

    var tableData = JSON.stringify(hot.getData());
    console.log(hot.getData());


</script>