@model fmis.Models.Accounting.Dv;




<button type="button" style="margin-right:15px; margin-top: 10px;" class="close" data-dismiss="modal">×</button>
<center><h3 class="grey lighter smaller">Create Disbursement Voucher</h3></center>
<hr />
<div class="container" style="height: 350px;">
    <form asp-action="Create">
        <div class="col-md-4" style="margin-left: 50px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               <div class="form-group">
                <h5>Fund Cluster: </h5>
                <select class="form-control" asp-for="FundClusterId" asp-items="ViewBag.FundClusterId"></select>
             </div>
            <div class="form-group">
                <h5>Dv #: </h5>
                <input asp-for="DvNo" type="text" class="form-control" />
                <span asp-validation-for="DvNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Particulars:  </h5>
                <input asp-for="Particulars" type="text" class="form-control" />
                <span asp-validation-for="Particulars" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <h5>Date: </h5>
                <input asp-for="Date" type="date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Payee: </h5>
                <input asp-for="Payee" class="form-control" />
                <span asp-validation-for="Payee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <h5>Amount: </h5>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group pull-right">
                <input type="submit" value="Create" class="btn btn-success btn-sm" /> | <a class="btn btn-sm btn-default" data-dismiss="modal">Back to List</a>
            </div>
        </div>
    </form>
</div>


<script>
    $(document).ready(function () {
        $('.select2').select2();
    });
</script>


