@model fmis.Models.Accounting.Dv;
@*@model IEnumerable<fmis.Models.Accounting.Dv>;*@
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .select2 {
        width: 100% !important;
    }




</style>

<button type="button" style="margin-right:15px; margin-top: 10px;" class="close" data-dismiss="modal">×</button>
<center><h3 class="grey lighter smaller">Create Disbursement Voucher</h3></center>
<hr />
<div class="container" style="height: 810px;">
    <form asp-action="Create" style="position:center;">
        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <h5>Fund Cluster: </h5>
                    @Html.DropDownList("FundClusterId", null, " - FundCluster - ", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="1stcol col-md-2">
                <div class="form-group">
                    <h5>Dv Date: </h5>
                    <input asp-for="Date" type="date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2" style="width: 250px;">
                <h5>Dv Type: </h5>
                <select class="form-control" id="dv_type" required>
                    <option value="">Select Dv Type</option>
                    <option value="S">SUPPLIER / CONTRACTOR</option>
                    <option value="T">INDIVIDUAL CLAIM / PAYROLL</option>
                </select>
            </div>
            <div class="1stcol col-md-2">
                <h5>Dv #: </h5>
                <input asp-for="DvNo" type="text" id="dv_no" class="form-control" readonly />
                <span asp-validation-for="DvNo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <h5>Payee: </h5>
                    @Html.DropDownList("PayeeId", null, " - Select Payee - ", htmlAttributes: new { @class = "select2 form-control" })
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <h5>Particulars:  </h5>
                    <input asp-for="Particulars" type="text" class="form-control" value="To payment of" />
                    <span asp-validation-for="Particulars" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <label>Responsibility Center: </label>
                    <select class="form-control" asp-for="RespoCenterId" asp-items="ViewBag.RespoId"></select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Select Options: </label>
                    <select class="form-control" asp-for="AssigneeId" asp-items="ViewBag.AssigneeId"></select>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 20px">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <label style="font-weight:bold; margin-left: 80px; margin-top: 10px;">GROSS AMOUNT: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" id="gross_amount" type="number" asp-for="GrossAmount" placeholder="0.00" onchange="computeNetAmount()"/>
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="dvDeductions[0].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="dvDeductions[0].Amount" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="dvDeductions[1].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="dvDeductions[1].Amount" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="dvDeductions[2].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="dvDeductions[2].Amount" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="dvDeductions[3].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="dvDeductions[3].Amount" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="dvDeductions[4].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="dvDeductions[4].Amount" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="dvDeductions[5].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="dvDeductions[5].Amount" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="dvDeductions[6].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="dvDeductions[6].Amount" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <label style="font-weight:bold; margin-left: 80px; margin-top: 10px;">TOTAL  DEDUCTIONS: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" id="total_deduction" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" readonly/>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <label style="font-weight:bold; margin-left: 80px; margin-top: 10px;">NET AMOUNT: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" id="net_amount" type="number" onkeypress="return isNumber(event)" onkeyup="javascript:this.value=Comma(this.value);" placeholder="0.00" readonly/>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-left: 260px;">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success btn-xs" />  <a class="btn btn-xs btn-default" data-dismiss="modal">Back to List</a>
            </div>
        </div>
    </form>
</div>


<script>
    $(document).ready(function () {
        $('.select2').select2();

        $('#dv_type').on('change', function () {
            var type = $(this).val();
            $.ajax({
                url: '@Url.Action("GetLatestDvType","Dv")',
                data: {
                    type: type
                },
                method: 'GET',
                async: true,
                success: function (output) {
                    $('#dv_no').val(output);
                }
            })
        });
    });


    function Comma(Num) { //function to add commas to textboxes
        Num += '';
        Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
        Num = Num.replace(',', ''); Num = Num.replace(',', ''); Num = Num.replace(',', '');
        x = Num.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1))
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        return x1 + x2;
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function submitDeduction(parentDiv) {
        let dvDeduction = $(parentDiv).find('select');
        let dvDedectionAmt = $(parentDiv).find('input');
        if (dvDeduction.val() && dvDedectionAmt.val()) {
            console.log(dvDeduction.val(), dvDedectionAmt.val());
        }
        computeNetAmount();

    }

    function computeNetAmount() {
        let amounts = $('.deduction_amount');
        let gross_amount = +$('#gross_amount').val();
        let total = 0;
        $(amounts).each(function (index, value) {
            total += +value.value;
        });

        $('#total_deduction').val(total);
        $('#net_amount').val(gross_amount - total);
    }
  
</script>


