 @model fmis.Models.Accounting.Dv;



<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .select2 {
        width: 100% !important;
    }
</style>

<button type="button" style="margin-right:15px; margin-top: 10px;" class="close" data-dismiss="modal">×</button>
<center><h3 class="grey lighter smaller">Create Disbursement Voucher</h3></center>
<hr />
<div class="container" style="height: 840px;">
    <form asp-action="Create" style="position:center;">
        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <h5>Fund Cluster: </h5>
                    <select class="form-control" asp-for="FundClusterId" asp-items="ViewBag.FundClusterId">
                        <option value="">- FundCluster</option>
                    </select>
                    @*@Html.DropDownList("FundClusterId", ViewBag.FundClusterId, " - FundCluster - ", htmlAttributes: new { @class = "form-control", @id = "fundCluster", @required = "required" })*@
                </div>
            </div>
            <div class="1stcol col-md-2">
                <div class="form-group">
                    <h5>Dv Date: </h5>
                    <input asp-for="Date" type="date" id="dvDate" class="form-control" required />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2" style="width: 250px;">
                <h5>Dv Type: </h5>
                <select class="form-control" id="dv_type" asp-for="DvType" required>
                    <option value="">Select Dv Type</option>
                    <option value="S">SUPPLIER/CONTRACTOR</option>
                    <option value="T">INDIVIDUAL CLAIM/PAYROLL</option>
                </select>
            </div>
            <div class="1stcol col-md-2">
                <h5>Dv #: </h5>
                <input asp-for="DvNo" type="text" id="dv_no" class="form-control" readonly />
                <span asp-validation-for="DvNo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <h5>Payee: </h5>
                    <select asp-for="PayeeId"  class="form-control select2"></select>
                </div>
            </div>

            <div class="col-md-5">
                <div class="form-group">
                    <h5>Particulars:  </h5>
                    <textarea asp-for="Particulars" class="form-control" id="textarea" type="text" style="height: 70px;" required> </textarea>
                    <span asp-validation-for="Particulars" class="text-danger"></span>
                </div>
            </div>

            <div id="payee" class="col-md-4" style="display: none;">
                <div class="form-group">
                    <h5>Payee Description:  </h5>
                    <input asp-for="PayeeDesc" id="payeeDescription" type="text" class="form-control"/>
                    <span asp-validation-for="PayeeDesc" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <label>Responsibility Center: </label>
                    <select class="form-control" asp-for="RespoCenterId" id="respoCenter" asp-items="ViewBag.RespoId" required>
                        <option value="">Select Respo Center </option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Select Options: </label>
                    <select class="form-control" asp-for="AssigneeId" id="selectOptions" asp-items="ViewBag.AssigneeId" required>
                        <option value="">Select Options  </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 20px">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <label style="font-weight:bold; margin-left: 80px; margin-top: 10px;">GROSS AMOUNT: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control gross_amount" id="gross_amount" type="text" asp-for="GrossAmount" />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="dvDeductions[0].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="dvDeductions[0].Amount" type="text"/>
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="dvDeductions[1].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="dvDeductions[1].Amount" type="text"  />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="dvDeductions[2].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="dvDeductions[2].Amount" type="text"   />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="dvDeductions[3].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="dvDeductions[3].Amount" type="text"   />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="dvDeductions[4].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="dvDeductions[4].Amount" type="text"   />
                </div>
            </div>
        </div>

        <div class="col-md-12" onchange="submitDeduction(this);">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="dvDeductions[5].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="dvDeductions[5].Amount" type="text" />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <select asp-items="ViewBag.DeductionId" asp-for="dvDeductions[6].DeductionId" class="form-control select2">
                    <option value=""> - Select Deduction - </option>
                </select>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control deduction_amount" asp-for="dvDeductions[6].Amount" type="text"   />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <label style="font-weight:bold; margin-left: 80px; margin-top: 10px;">TOTAL DEDUCTIONS: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" id="total_deduction" type="text" placeholder="0.00" readonly />
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-2" style="width: 250px;">
                <div class="form-group">
                    <label style="font-weight:bold; margin-left: 80px; margin-top: 10px;">NET AMOUNT: </label>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input class="form-control" id="net_amount" type="text" placeholder="0.00" readonly />
                </div>
            </div>
        </div>

        <div class="col-md-12" style="margin-left: 260px;">
            <div class="form-group">
                <input type="submit" value="Create" onclick="submiBtnClick()" class="btn btn-success btn-xs" />  <a class="btn btn-xs btn-default" asp-action="Index">Back to List</a>
            </div>
        </div>
    </form>
</div>


<script>



    //cascade dropdownlist
    $(function () {
        $("select#dv_type").change(function () {
            var cid = $(this).val();
            //alert(cid);
            $("select#PayeeId").empty();
            $.getJSON('@Url.Action("GetPayee", "Dv")?cid=' + cid, function (data) {
            //$.getJSON(`dummy/Dv/GetPayee?cid=${cid}`, function (data) {
                //console.log(data);
                $.each(data, function (i, item) {
                    $("select#PayeeId").append(`<option value="${item.id}">${item.name}</option>`);
                });
            });
        });

        $('input[type=text]').click(function () {
            if ($(this).val() === '0') {
                $(this).val('');
            }
        }).change(function () {
            updateTextView($(this));
        }).focusout(function () {
            if (this.value === '') {
                this.value = '0';
            }
        })
    });

    //adding comma after 3 digits
    function updateTextView(_obj) {
        var num = +_obj.val();
        if (num == '') {
            _obj.val('0');
        } else {
            _obj.val(num.toLocaleString(undefined, { minimumFractionDigits: 2 }));
        }
    }
    function getNumber(_str) {
        var arr = _str.split('');
        var out = new Array();
        for (var cnt = 0; cnt < arr.length; cnt++) {
            if (isNaN(arr[cnt]) == false) {
                out.push(arr[cnt]);
            }
        }
        return Number(out.join(''));
    }

    get_sbu();
    function get_sbu() {
        var selected_val = $('#ddlBranches').find(":selected").attr('value');
        $.ajax({
            type: "POST",
            url: '@Url.Action("selectP", "Dv")',
            data: "id=" + selected_val,
            success: function (data) {
                if (data.length > 0) {
                    $('#payeeDescription').val(data[0].payeeDescription);
                }
                else {
                    $('#payeeDescription').val('');
                }
            }
        });
    }

    $(document).ready(function () {
        $('#FundCluster').change(function () {
            var ddlValue = $(this).val();

            alert(ddlValue);

            if (ddlValue = 10) {
                $('#payee').hide();
            }
            else {
                $('#payee').hide();
            }
        });
    });

    $(document).ready(function () {
        //Prevent users from submitting a form by hitting Enter
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });

        $('.select2').select2();

        $('#dv_type').on('change', function () {
            var type = $(this).val();
            $.ajax({
                url: '@Url.Action("GetLatestDvType","Dv")',
                data: {
                    type: type
                },
                method: 'GET',
                async: true,
                success: function (output) {
                    $('#dv_no').val(output);
                }
            })
        });
    });

    function submitDeduction(parentDiv) {
        let dvDeduction = $(parentDiv).find('select');
        let dvDedectionAmt = $(parentDiv).find('input');
        if (dvDeduction.val() && dvDedectionAmt.val()) {
            console.log(dvDeduction.val(), dvDedectionAmt.val());
        }
        computeNetAmount();
    }

    function computeNetAmount() {
        let amounts = $('.deduction_amount');
        let gross_amount = +$('#gross_amount').val().replace(/,/g, '');
        let total = 0;
        $(amounts).each(function (index, value) {
            total += +value.value.replace(/,/g, '');
        });
        var net = gross_amount - total;

        $('#total_deduction').val(total.toLocaleString());
        $('#net_amount').val(net.toLocaleString());
    }

    document.getElementById("textarea").value = "To payment of";

    function submiBtnClick() {
        var fundCluster = document.getElementById("fundCluster").value;
        var dvDate = document.getElementById("dvDate").value;
        var dvType = document.getElementById("dv_type").value;
        var particulars = document.getElementById("textarea").value;
        var respoCenter = document.getElementById("respoCenter").value;
        var selectOptions = document.getElementById("selectOptions").value;
            
        if (fundCluster != '' && dvDate != '' && dvType != ''  && particulars != ''
            && respoCenter != '' && selectOptions != '' ) {
            Lobibox.notify('success', {
                msg: 'Disbursement Voucher Successfully Added!',
            });
        }
        else {
            return false;
        }
    }


</script>


