@model fmis.Models.Accounting.Dv

@{

    Layout = null;
}

<center><h4>Are you sure you want to delete this GAA?  </h4></center>
<div>
    <hr />
    <center>
        <form asp-action="Delete" style="margin: 15px;">
            <input type="hidden" asp-for="DvId" />
            <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
            <a data-dismiss="modal" class="btn btn-info btn-sm">Back to List</a>
        </form>
    </center>
</div>