@model fmis.Models.Yearly_reference

@{
    ViewData["Title"] = "Create";
}
<Style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0;
    }
</Style>
<h3 class="grey lighter smaller">
    Yearly Reference
</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Yearly Reference</label>
                <input asp-for="YearlyReference" type="number" id="year" class="form-control" />
                <span asp-validation-for="YearlyReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="Submit" value="Create" onclick="submiBtnClick()" class="btn btn-sm btn-success" />
                <a class="btn btn-sm btn-default" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

                
<script>

    function submiBtnClick() {
        var year = document.getElementById("year").value;
        if (year != '') {
            Lobibox.notify('success', {
                msg: 'Year Successfully Added!',
            });
        }
        else {
            return false;
        }
    }
</script>